<!--
    Rules Of Origin (RoO) Text Template for trade scenario TWUK_GSP_EXC:
    For countries without a UK trade agreement, and with GSP (Generalised Scheme of Preferences)
    access – but with GSP exclusions.
-->
<p class="govuk-body">
    The UK trades with {{ country_name }} on preferential terms, under the UK’s Generalised Scheme of Preferences (GSP).
</p>
<p class="govuk-body">
    Goods must meet the rules of origin to benefit from preferential tariffs (where available).
</p>
<p class="govuk-body">
    <a class="govuk-link" href="https://www.gov.uk/guidance/check-your-goods-meet-the-rules-of-origin]">Read guidance about rules of origin here.</a>
</p>
{% if rules_of_origin %}
    {% block rules_of_origin %}
        {% include "hierarchy/_rules_of_origin_table_explainer.html" %}
        {% include "hierarchy/_rules_of_origin_table_data.html" %}
    {% endblock %}
{% else %}
<p class="govuk-body">
    Rules of origin for UK GSP are not yet available within this service. Please check the <a class="govuk-link" href="https://www.gov.uk/government/publications/check-your-goods-meet-the-generalised-scheme-of-preference-rules-of-origin">GSP rules of origin</a> for further information.
</p>
{% endif %}
