{% comment %}
    Rules Of Origin (RoO) Text Template for trade scenario TWUK_TA_EU:
    For European Union countries.
{% endcomment %}
<p class="govuk-body">
    The UK has a trade agreement with the EU.
</p>
<p class="govuk-body">
    Goods must meet the rules of origin to benefit from preferential tariffs (where available).
</p>
<p class="govuk-body">
    <a class="govuk-link" href="https://www.gov.uk/guidance/check-your-goods-meet-the-rules-of-origin">Read guidance about rules of origin here.</a>
</p>
<p class="govuk-body">
    The easements on suppliers' declarations will end on 31 December 2021. From 1 January 2022, you must hold a <a class="govuk-link" href="https://www.gov.uk/guidance/proving-originating-status-and-claiming-a-reduced-rate-of-customs-duty-for-trade-between-the-uk-and-eu#suppliers-declarations">supplier's declaration</a> if you issue a statement of origin for your goods.
</p>
{% if rules_of_origin %}
    {% block rules_of_origin %}
        {% include "hierarchy/_rules_of_origin_table_explainer.html" %}
        {% include "hierarchy/_rules_of_origin_table_data.html" %}
    {% endblock %}
{% endif %}
