<!--
    Rules Of Origin (RoO) Text Template for trade scenario TWUK_NoTA:
    For countries without a UK trade agreement, and without GSP (Generalised Scheme of Preferences) access.
-->
<p class="govuk-body">
    If any material in the product is not wholly from or processed in the country of origin, known as ‘non-originating’, it must meet the UK’s general rules of origin to enter the UK.
</p>
<p class="govuk-body">
    <a class="govuk-link" href="https://www.gov.uk/guidance/check-your-goods-meet-the-rules-of-origin]">Read guidance about rules of origin here.</a>
</p>
