{% extends "contact/contact_form_base.html" %}
{% load i18n index %}


{% block title_form_page %}Contact us{% endblock %}

{% block form_page_title %}
    {{ wizard.form.topic.label }}
{% endblock %}

{% block form_body %}

    <div class="govuk-form-group {% if wizard.form.errors %} govuk-form-group--error{% endif %}">
        {% if wizard.form.errors %}
            {% for error in wizard.form.errors %}
                <span id="enquiry_type-error" class="govuk-error-topic">{{ error | escape }}</span>
            {% endfor %}
        {% endif %}

        <div class="govuk-radios govuk-radios" id="id_step_three-topic">
            {% for choice in wizard.form.fields.topic.choices %}
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="id_step_two-topic_{{ forloop.counter0 }}" required
                           name="step_two-topic" type="radio" value="{{ choice.0 }}"
                        {% if choice.0 == 1 %}checked="checked"{% endif %}
                    >
                    <label class="govuk-label govuk-radios__label" for="id_step_two-topic_{{ forloop.counter0 }}">
                       {{ choice.1 }}
                        <p class="govuk-hint">{{ wizard.form.fields.topic.help_text|index:forloop.counter0 }}</p>
                    </label>
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}
