{% extends "contact/contact_form_base.html" %}
{% load i18n %}

{% block title_form_page %}Contact us{% endblock %}

{% block form_page_title %}
    {{ wizard.form.category.label }}
    <p class="govuk-hint govuk-!-margin-bottom-1">Contact the Department for International Trade (DIT) for
        questions about trade and investment.</p>
{% endblock %}

{% block form_body %}

    <input type="hidden" name="step_one-country_code" id="id_step_one-country_code" value="{{ request.session.origin_country }}">
    <div class="govuk-form-group {% if wizard.form.errors %} govuk-form-group--error{% endif %}">
        {% if wizard.form.errors %}
            {% for error in wizard.form.errors %}
                <span id="enquiry_type-error" class="govuk-error-category">{{ error | escape }}</span>
            {% endfor %}
        {% endif %}

        <div class="govuk-radios govuk-radios" id="id_step_one-category">
            {% for choice in wizard.form.fields.category.choices %}
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="id_step_one-category_{{ forloop.counter0 }}" required
                               name="step_one-category" type="radio" value="{{ choice.0 }}"
                           {% ifequal wizard.form.category.value|stringformat:"s" choice.0|stringformat:"s" %}checked="checked"{% endifequal %}
                    >
                    <label class="govuk-label govuk-radios__label" for="id_step_one-category_{{ forloop.counter0 }}">
                        <span>{{ choice.1 }}</span>
                    </label>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
