<!--
    Trade Agreement (TA) Text Template for trade scenario TWUK_MEM_GSP:
    For GSP (Generalised Scheme of Preferences) “Least developed nations: with a
    UK memorandum of understanding - ie with both a memorandum and indefinite GSP.
-->
<p>
    The UK has a memorandum of understanding with {{ country_name }}.
</p>
<p>
    Where applicable, tariff preferences are available. If the conditions for preferential access are not met, the Most Favoured Nation (MFN) rate applies.
</p>
<p>
    {{ country_name }} is also part of the UK’s Generalised Scheme of Preferences.
</p>
<p>
    <a class="govuk-link" href="{{ trade_agreement_url }}">Find out more about the {{ trade_agreement_name }}.</a>
</p>
<p>
    <a class="govuk-link" href=" https://www.gov.uk/government/publications/trading-with-developing-nations">Find out more about the UK's Generalised Scheme of Preferences.</a>
</p>
