<!--
    Trade Agreement (TA) Text Template for trade scenario TWUK_GSP:
    For countries without a UK trade agreement, and with GSP (Generalised Scheme of Preferences) access – but no GSP exclusions.
-->
<p>
    The UK trades with {{ country_name }} on preferential terms, under the UK’s Generalised Scheme of Preferences (GSP).
</p>
<p>
    <a class="govuk-link" href="https://www.gov.uk/government/publications/trading-with-developing-nations">Find out more about the UK's Generalised Scheme of Preferences.</a>
</p>
