{% comment %}
    Trade Agreement (TA) Text Template for trade scenario TWUK_TA_EU:
    For European Union countries.
{% endcomment %}
<p>
    The UK has a trade agreement with the EU.
</p>
<p>
    Where applicable, tariff preferences are available. If the conditions for preferential access are not met, the Most Favoured Nation (MFN) rate applies.
</p>
<p>
    The easements on suppliers' declarations will end on 31 December 2021. From 1 January 2022, you must hold a <a class="govuk-link" href="https://www.gov.uk/guidance/proving-originating-status-and-claiming-a-reduced-rate-of-customs-duty-for-trade-between-the-uk-and-eu#suppliers-declarations">supplier's declaration</a> if you issue a statement of origin for your goods.
</p>
<p>
    <a class="govuk-link" href="{{ trade_agreement_url }}">Find out more about the {{ trade_agreement_name }}.</a>
</p>
