{% comment %}
    Trade Agreement (TA) Text Template for trade scenario TWUK_ANDORRA:
    For countries without a UK trade agreement, but that – subject to reciprocity –
    can still get European Union preferential tariffs on non-agricultural goods.
{% endcomment %}
<p>
    {{ country_name }} is part of a customs union with the EU.
</p>
<p>
    The UK has agreed with the EU that all non-agricultural products (chapters 25-97) originating in {{ country_name }} are to be treated as originating in the EU. This is dependent on {{ country_name }} applying to UK products the same preferences that the EU applies to UK products.
</p>
<p>
    Trade with {{ country_name }} of agricultural products (chapters 01-24) is not in scope of the UK-EU Trade and Cooperation Agreement and takes place under WTO terms.
</p>
<p>
    <a class="govuk-link" href="https://www.gov.uk/government/publications/ukeu-and-eaec-trade-and-cooperation-agreement-ts-no82021">Find out more about the UK/EU and EAEC: Trade and Cooperation Agreement.</a>
</p>
