<!--
    Trade Agreement (TA) Text Template for trade scenario TWUK_MEM:
    For countries with a UK memorandum of understanding, but no GSP (Generalised Scheme of Preferences) access.
-->
<p>
    The UK has a memorandum of understanding with {{ country_name }}.
</p>
<p>
    Where applicable, tariff preferences are available. If the conditions for preferential access are not met, the Most Favoured Nation (MFN) rate applies.
</p>
<p>
    <a class="govuk-link" href="{{ trade_agreement_url }}">Find out more about the {{ trade_agreement_name }}.</a>
</p>
