{% comment %}
    Trade Agreement (TA) Text Template for trade scenario TWUK_NoTA_EU_pref:
    For countries without a UK trade agreement, but that – subject to reciprocity –
    can still get full European Union preferential tariffs
{% endcomment %}
<p>
    {{ country_name }} is part of a customs union with the EU.
</p>
<p>
    The UK has agreed with the EU that all products originating in {{ country_name }} are to be treated as originating in the EU. This is dependent on {{ country_name }} applying to UK products the same preferences that the EU applies to UK products.
</p>
<p>
    These products benefit from preferential tariffs, where they meet the relevant rules of origin.
</p>
<p>
    <a class="govuk-link" href="{{ trade_agreement_url }}">Find out more about the {{ trade_agreement_name }}.</a>
</p>
