<!--
    Trade Agreement (TA) Text Template for trade scenario TWUK_TA:
    For countries with a UK trade agreement, or EPA - but without continuing GSP access,
    and for which TWUK has the Rules of Origin data.
-->
<p>
    The UK has a trade agreement with {{ country_name }}.
</p>
<p>
    Where applicable, tariff preferences are available. If the conditions for preferential access are not met, the Most Favoured Nation (MFN) rate applies.
</p>
<p>
    <a class="govuk-link" href="{{ trade_agreement_url }}">Find out more about the {{ trade_agreement_name }}.</a>
</p>
