{% extends "core/base.html" %}
{% load i18n %}

{% block title %}
    {% if form.errors %}
        Error - Contact us
    {% else %}
        Contact us
    {% endif %}
{% endblock %}

{% block content %}

    <h2 class="govuk-heading-l">
            <span class="govuk-caption-l">
                Your enquiry has been submitted successfully
            </span>
        Thank you for your enquiry
    </h2>
    {{ wizard.management_form }}

    <p class="govuk-body govuk-!-margin-bottom-9">Return to <a href="/">find information about exporting to the UK</a>.</p>

    <h3>DEBUG</h3>
    Subject :{{ context.subject }}<br/>
    Service: {{ context.service_name }}<br/><br />

    Sender Email address: {{ context.email_address }}<br />
    Sender Name: {{  context.name }}<br /><br />

    {% if context.destination %}
        Recipient zendesk: {{ context.destination }}<br />
    {% elif context.recipient_email %}
        Recipient Email: {{ context.recipient_email }}<br />
    {%  endif %}
    Recipient Name: {{ context.recipient_full_name }}<br /><br>

    <pre>{{ context.content|safe }}</pre>

{% endblock %}
