<div class="app-modal-dialogue" data-module="modal-dialogue" id="{{ modal_id }}">
    <div class="app-modal-dialogue__overlay"></div>
    <div class="app-modal-dialogue__box app-modal-dialogue__box--wide" aria-modal="true" role="dialogue" tabindex="0">

        <div class="app-modal-dialogue__content">

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                  <h2 class="govuk-heading-l govuk-!-margin-bottom-3">
                    <span class="govuk-caption-l">
                      Exporting from {{ selected_origin_country_name }} to the UK
                    </span>
                    {{ measure_type }} for {% for commodity_code_segment in commodity_code_split %}{{ commodity_code_segment }}{% if not forloop.last %}.{% endif %}{% endfor %}
                  </h2>
                </div>
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    {{ modal_body | safe }}
                </div>
            </div>

        </div>
        <button class="app-modal-dialogue__close-button" aria-label="Close modal dialogue">×</button>
    </div>
</div>
