{% extends "cms/regulations/base_regulationgroup_detail.html" %}

{% block panel_heading %}
    <div class="app-panel-heading">
        <h3 class="govuk-heading-m">Associated regulations ({{ regulationgroup.regulation_set.count }})</h4>
        <p class="govuk-inset-text">
            Regulations are automatically inherited by all the children of the sections, chapters, headings and subheadings added.
        </p>
        <nav>
            <ul class="app-regulation-sub-nav">
                <li>
                    <a class="govuk-link" href="{% url 'cms:regulation-group-regulation-create' pk=regulationgroup.pk %}">
                        Add new regulation
                    </a>
                </li>
            </ul>
        </nav>
    </div>
{% endblock %}

{% block panel_content %}
    <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Regulation number</th>
                <th scope="col" class="govuk-table__header">Title</th>
                <th scope="col" class="govuk-table__header">URL</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">
                    <span class="govuk-visually-hidden">
                        Actions
                    </span>
                </th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            {% for regulation in regulationgroup.regulation_set.all %}
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">{{ regulation.regulation_number }}</th>
                    <td class="govuk-table__cell">{{ regulation.title }}</td>
                    <td class="govuk-table__cell"><a class="govuk-link" href="{{ regulation.url }}">{{ regulation.url }}</td>
                    <td class="govuk-table__cell app-table__cell--actions">
                        <a
                            class="govuk-link"
                            href="{% url "cms:regulation-group-regulation-remove" regulationgroup.pk regulation.pk %}"
                        >Remove</a>
                    </td>
                </tr>
            {% empty %}
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell app-table__cell--no-results" colspan="4">
                        <em>
                            No associated regulations.
                        </em>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
