{% extends "cms/regulations/base_regulationgroup_detail.html" %}

{% block panel_heading %}
    <div class="app-panel-heading">
        <h3 class="govuk-heading-m">Associated regulations ({{ regulationgroup.regulation_set.count }})</h4>
        <p class="govuk-inset-text">
            Regulations are automatically inherited by all the children of the sections, chapters, headings and subheadings added.
        </p>
    </div>
{% endblock %}

{% block panel_content %}
    <form class="govuk-form-group{% if regulation_form.errors %} govuk-form-group--error{% endif %}" method="post">
        {% csrf_token %}
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h4 class="govuk-fieldset__heading">
                    Add new regulation
                </h4>
            </legend>

            {% include "core/forms/_text_input.html" with field=regulation_form.title %}
            {% include "core/forms/_text_input.html" with field=regulation_form.url %}

            <div class="govuk-!-margin-top-6">
                <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
                    Save
                </button>
                <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="{% url 'cms:regulation-group-detail' pk=regulationgroup.pk %}">
                    Cancel
                </a>
            </div>
        </fieldset>
    </form>
{% endblock %}
