{% extends "cms/regulations/base.html" %}

{% block nav %}
    <nav class="govuk-width-container govuk-grid-row">
        <a href="{% url 'cms:regulation-groups-list' %}" class="govuk-back-link">Back</a>
    </nav>
{% endblock %}

{% block main %}
    <h2 class="govuk-heading-m">{{ regulationgroup.title }}</h2>

    <div class="govuk-tabs" data-module="govuk-tabs">
        <ul class="govuk-tabs__list">
            <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="{% url 'cms:regulation-group-detail' pk=regulationgroup.pk %}">
                    Regulations
                </a>
            </li>
            <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="{% url 'cms:regulation-group-chapter-list' pk=regulationgroup.pk %}">
                    Chapters
                </a>
            </li>
        </ul>
        <div class="govuk-tabs__panel" id="regulations">
            <div class="app-panel-heading">
                <h3 class="govuk-heading-m">Associated regulations ({{ regulationgroup.regulation_set.count }})</h4>
                <p class="govuk-inset-text">
                    Regulations are automatically inherited by all the children of the sections, chapters, headings and subheadings added.
                </p>
            </div>
            <form class="govuk-form-group{% if regulation_form.errors %} govuk-form-group--error{% endif %}" method="post">
                {% csrf_token %}
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h4 class="govuk-fieldset__heading">
                            Add new regulation
                        </h4>
                    </legend>

                    {% include "core/forms/_text_input.html" with field=regulation_form.title %}
                    {% include "core/forms/_text_input.html" with field=regulation_form.url %}

                    <div class="govuk-!-margin-top-6">
                        <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
                            Save
                        </button>
                        <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="{% url 'cms:regulation-group-detail' pk=regulationgroup.pk %}">
                            Cancel
                        </a>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}
