{% extends "cms/regulations/base.html" %}

{% block main %}
    <h2 class="govuk-heading-m">
        Remove <em>{{ heading.description }}</em> from <em>{{ regulationgroup.title }}</em>?
    </h2>

    <form method="post">
        {% csrf_token %}
        <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
            Remove
        </button>
        <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="{% url 'cms:regulation-group-heading-list' pk=regulationgroup.pk %}">
            Cancel
        </a>
    </form>
{% endblock %}
