{% extends "cms/regulations/base.html" %}

{% block nav %}
    <nav class="govuk-width-container govuk-grid-row">
        <a href="{% url 'cms:regulation-groups-list' %}" class="govuk-back-link">Back</a>
    </nav>
{% endblock %}

{% block main %}
    <h2 class="govuk-heading-m">{{ regulationgroup.title }}</h2>

    <div class="govuk-tabs" data-module="govuk-tabs">
        <ul class="govuk-tabs__list">
            <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="{% url 'cms:regulation-group-detail' pk=regulationgroup.pk %}">
                    Regulations
                </a>
            </li>
            <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="{% url 'cms:regulation-group-chapter-list' pk=regulationgroup.pk %}">
                    Chapters
                </a>
            </li>
        </ul>
        <div class="govuk-tabs__panel" id="chapters">
            <div class="app-panel-heading">
                <h3 class="govuk-heading-m">Associated chapters ({{ regulationgroup.chapters.count }})</h4>
                <p class="govuk-inset-text">
                    Regulations are automatically inherited by all the children of the sections, chapters, headings and subheadings added.
                </p>
            </div>
            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">ID</th>
                        <th scope="col" class="govuk-table__header">Title</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    {% for chapter in regulationgroup.chapters.all %}
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">{{ chapter.chapter_code }}</th>
                            <td class="govuk-table__cell">{{ chapter.description }}</td>
                        </tr>
                    {% empty %}
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell app-table__cell--no-results" colspan="2">
                                <em>
                                    Not associated to any chapters.
                                </em>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
