#app-commodity-details {

  // Overide govuk-accordion styles to match design
  .govuk-accordion {
    border: none;
    .govuk-accordion__controls {
      height: 5px;
      visibility: hidden;
    }

    .govuk-accordion__section--expanded {
      .govuk-accordion__section-header {
        border-bottom: None;
      }
    }

    .app-accordion__heading-title {
      color: $govuk-link-colour;
      text-decoration: underline;
    }

    .govuk-accordion__section-header--focused {
      .app-accordion__heading-title {
        color: $govuk-text-colour !important;
      }
    }

    #tree-list-1-item-0 {
      border: none;
      margin-left: 0.5em;
      @include govuk-media-query($from: tablet) {
        margin-left: 0em;
      }
    }
  }
}
