{% extends "hierarchy/_modal_wrapper.html" %}

{% block modal_content %}
    <h3 class="govuk-heading-m govuk-!-margin-top-2">Change in tariff subheading (CTSH)</h3>
    <p>
        When a non-originating material is used to produce another finished product, the 6-digit level of the original commodity code will need to change once they have been incorporated into the final product. This is referred to as a change in tariff subheading.
    </p>
    <p>
        Example:
    </p>
    <p>
        Apple and mango juice comes under the commodity code 200990
    </p>
    <p>
        A UK manufacturer makes apple and mango juice by combining imported mango juice and UK originating apple juice.
    </p>
    <p>
        The 6-digit commodity code for the mango juice is 2009<strong>89</strong>
    </p>
    <p>
        The 6-digit commodity code for the mixed apple and mango juice is 2009<strong>90</strong>
    </p>
    <p>
        The mango juice has a change in commodity code at the 6-digit level. We call this a change in tariff subheading.
    </p>
{% endblock %}
