{% extends "hierarchy/_modal_wrapper.html" %}

{% block modal_content %}
    <h3 class="govuk-heading-m govuk-!-margin-top-2">Change of Chapter (CC)</h3>
    <p>
        When a non-originating material is used to produce another finished product, the first 2 digits of its original commodity code will need to change once it’s incorporated into the final product. This is referred to as a change in chapter.
    </p>
    <p>
        Example:
    </p>
    <p>
        A UK food producer makes fresh pasta using durum wheat flour, water and egg. The flour is an ingredient that has been sourced from outside the UK. It must go through a change in tariff classification to gain UK originating status once it has been made into the pasta.
    </p>
    <p>
        The 6-digit commodity code for durum wheat flour is <strong>11</strong>0100.
    </p>
    <p>
        It is used to make fresh pasta, which has the commodity code <strong>19</strong>0211.
    </p>
    <p>
        The fresh pasta’s commodity code is different at the 2-digit level (first 2 numbers) to that of durum wheat flour. So, once the flour has been made into the pasta, we say it has undergone a change in chapter.
    </p>
{% endblock %}
