<div class="helpdesk-ni-warning">
    <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            <p>If some or all of your goods are destined for Northern Ireland, then tariffs, charges, rules of origin and regulations may be different from those listed below.</p>
            <p><a href="{{ ni_details_url }}">View the charges, rules and regulations for exports to Northern Ireland</a></p>
        </strong>
    </div>
</div>
