<details class="govuk-details govuk-!-margin-bottom-0">
    <summary class="govuk-details__summary ">
        <span class="govuk-details__summary-text govuk-!-font-size-16">What are the main types of measures</span>
    </summary>
    <div class="govuk-details__text govuk-!-font-size-16">
        <details class="govuk-details govuk-!-margin-bottom-2 govuk-!-font-size-16">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Reliefs
                </span>
            </summary>
            <div class="govuk-details__text">
                A relief removes some or all of the import duty for certain goods.
            </div>
            </details>

        <details class="govuk-details govuk-!-margin-bottom-2 govuk-!-font-size-16">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Anti-dumping duty
                </span>
            </summary>
            <div class="govuk-details__text">
                <a class="govuk-link" href="https://www.gov.uk/government/publications/notice-376-anti-dumping-and-countervailing-duties">Anti-dumping duty</a> is an amount of import duty applied in addition to any other duties that apply. It protects UK industry against the dumping of goods at a substantially lower value than normal.
            </div>
        </details>

        <details class="govuk-details govuk-!-margin-bottom-2 govuk-!-font-size-16">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Import controls
                </span>
            </summary>
            <div class="govuk-details__text">
                <a class="govuk-link" href="https://www.gov.uk/guidance/import-controls">Import controls</a> can be either prohibitions, where goods cannot be imported under any circumstances, or restrictions, where goods can be imported only under certain circumstances. Check the conditions related to this type of measure.
            </div>
        </details>
    </div>
</details>
