{% load cell_cleaner dotted_format %}

<div id="other_measures" class="govuk-!-margin-bottom-9">
    <h2 class="govuk-heading-l govuk-!-margin-bottom-3">
        <a name="other_measures"></a>Other measures - {{ commodity.commodity_code|dotted_format }}
    </h2>
    <div class="govuk-caption-m">
        <p class="govuk-body-s helpdesk-caption"><span class="helpdesk-direction__left-to-right">{{ selected_origin_country_name }}</span> Northern Ireland</p>
    </div>

    <p class="govuk-body">
        The other measures that apply to your product will depend on whether it is intended for use in the UK, or is considered ‘at risk’ of entering the EU. If some or all of the product is ‘at risk’ of entering an EU country (such as Ireland), it may be subject to EU measures.
    </p>

    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-other-measures">
        <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
                <h4 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button govuk-!-font-size-24" id="accordion-uk-other-measures-heading">
                        Other UK measures - {{ commodity.commodity_code|dotted_format }}
                    </span>
                </h4>
            </div>
            <div id="accordion-uk-other-measures-content" class="govuk-accordion__section-content" aria-labelledby="accordion-uk-other-measures-heading">
                {% include "hierarchy/_other_measures_types.html" %}
                {% include "hierarchy/_other_measures_table_data.html" with other_table_data=other_measures_table %}
            </div>
        </div>

        <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
                <h4 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button govuk-!-font-size-24" id="accordion-eu-other-measures-heading">
                        Other EU measures - {{ commodity.commodity_code|dotted_format }}
                    </span>
                </h4>
            </div>
            <div id="accordion-eu-other-measures-content" class="govuk-accordion__section-content" aria-labelledby="accordion-eu-other-measures-heading">
                {% include "hierarchy/_other_measures_types.html" %}
                {% include "hierarchy/_other_measures_table_data.html" with other_table_data=eu_other_measures_table %}
            </div>
        </div>
    </div>
</div>
