{% load dotted_format %}

<div id="regulations" class="govuk-!-margin-bottom-9">
    <h2 class="govuk-heading-l govuk-!-margin-bottom-3">
        <a name="regulations"></a>Product-specific regulations - {{ commodity.commodity_code|dotted_format }}
    </h2>
    <p class="govuk-body">
        You can find more information about product-specific regulations for exporting to Northern Ireland by going to the <a class="govuk-link" href="{{ eu_regulations_link }}">EU’s Access2Markets website</a>, and clicking the ‘import requirements’ section.
    </p>
</div>
