{% load dotted_format %}

<div id="rules_of_origin" class="govuk-!-margin-bottom-9">
    <h2 class="govuk-heading-l govuk-!-margin-bottom-3">
        <a name="rules_of_origin"></a>Rules of origin - {{ commodity.commodity_code|dotted_format }}
    </h2>

    <p class="govuk-body">
        The rate of duty that must be paid on your goods will depend on:
    </p>
    <ul class="govuk-list govuk-list--bullet">
        <li>the type of goods</li>
        <li>the country the goods are being imported into</li>
        <li>where they are judged to have ‘originated’ from</li>
    </ul>

    <p class="govuk-body">
        Products are ‘non-originating’ if any of the materials used to make them are not wholly from or processed in the country of origin.
    </p>

    {% if has_both_trade_agreements or has_gsp_tariff_preference %}
        <p class="govuk-body">
            If your product is solely intended for use in the UK, it may qualify for a UK tariff preference. If a proportion of the shipment is intended to be used in the EU (such as Ireland), or is considered ‘at risk’, it may qualify for EU preferences, depending on the type or amount of product.
        </p>
    {% elif has_eu_trade_agreement %}
        <p class="govuk-body">
            If a proportion of the shipment is intended to be used in the EU (such as Ireland), or is considered ‘at risk’, it may qualify for EU preferences, depending on the amount or type of product.
        </p>
    {% endif %}

    <p class="govuk-body">
        If you have a customs agent, freight forwarder or importer, they should be able to tell you which tariff preferences and rules of origin apply to your shipment. Otherwise, you can contact the <a class="govuk-link" href="https://www.gov.uk/guidance/trader-support-service">Trader Support Service</a> for more information.
    </p>

    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-rules-of-origin">
        <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button govuk-!-font-size-24" id="accordion-uk-rules-of-origin-heading">
                        UK rules of origin
                    </span>
                </h2>
            </div>
            <div id="accordion-uk-rules-of-origin-content" class="govuk-accordion__section-content" aria-labelledby="accordion-uk-rules-of-origin-heading">
                <div class="govuk-!-margin-bottom-3">
                    {% if has_uk_trade_agreement or has_gsp_tariff_preference %}
                        {% if old_roo_enabled and old_rules_of_origin %}
                            {% include "commodities/_rules_of_origin_pre21.html" %}
                        {% elif old_roo_enabled and not old_rules_of_origin and rules_of_origin %}
                            {% include "commodities/_rules_of_origin_pre21_no_old.html" %}
                        {% elif not old_roo_enabled and rules_of_origin %}
                            {% include "commodities/_rules_of_origin.html" %}
                        {% else %}
                            {% include "commodities/_rules_of_origin_no_data.html" %}
                        {% endif %}
                    {% else %}
                        {% include "commodities/_rules_of_origin_no_tariff_preference.html" %}    
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button govuk-!-font-size-24" id="accordion-eu-rules-of-origin-heading">
                        EU rules of origin
                    </span>
                </h2>
            </div>
            <div id="accordion-eu-rules-of-origin-content" class="govuk-accordion__section-content" aria-labelledby="accordion-eu-rules-of-origin-heading">
                <p class="govuk-body">
                    EU general rules of origin will apply if any part of your shipment is considered ‘at risk’ of entering an EU country (such as Ireland).
                </p>

                <p class="govuk-body">
                    ‘At risk’ goods must meet product-specific rules of origin to qualify for a tariff preference.
                </p>

                <p class="govuk-body">
                    You can find more information by going to the <a href="{{ eu_rules_of_origin_link }}">EU’s Access2Markets website</a>, and clicking the ‘Rules of origin’ section.
                </p>
            </div>
        </div>
    </div>
</div>
