{% load replace %}

<div class="govuk-!-margin-bottom-4">
    {% for rule_doc, rules, footnotes, introductory_notes in rules_of_origin %}
        <h3 class="govuk-heading-s govuk-!-margin-top-4">Rules of origin under the {{ rule_doc_name }}</h3>
        <table class="govuk-table govuk-table__rules_of_origin app-flexible-table">
            <caption class="govuk-table__caption govuk-visually-hidden">Rules of origin for tariff preference</caption>
            <thead class="govuk-table__head app-flexible-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header app-flexible-table__header" scope="col"><abbr title="Harmonised System">HS</abbr> heading</th>
                    <th class="govuk-table__header app-flexible-table__header" scope="col">Description of product</th>
                    <th class="govuk-table__header govuk-!-width-one-half app-flexible-table__header" scope="col">How non-originating materials must be worked or processed to get country of origin status</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body app-flexible-table__body">
                {% spaceless %}
                    {% for rule in rules %}
                        <tr class="govuk-table__row app-flexible-table__row">
                            <td class="govuk-table__cell app-flexible-table__cell" data-column-heading="Harmonised System heading" rowspan="{{ rule.num_rules }}">
                                <p>{{ rule.code }}</p>
                            </td>
                            <td class="govuk-table__cell app-flexible-table__cell{% if not forloop.last %} helpdesk-rules-of-origin-cell--sub-rule-item{% endif %}" data-column-heading="Description of product">
                                <p>{{ rule.description_processed|set_country:country_code|safe }}</p>
                            </td>
                            <td class="govuk-table__cell app-flexible-table__cell{% if not forloop.last %} helpdesk-rules-of-origin-cell--sub-rule-item{% endif %}" data-column-heading="How non-originating materials must be worked or processed to get country of origin status">
                                <p>{{ rule.rule_text_processed|set_country:country_code|blank_none|safe }}</p>
                                {% if rule.alt_rule_text_processed %}
                                    or
                                    <p>{{ rule.alt_rule_text_processed|set_country:country_code|safe }}</p>
                                {% endif %}
                            </td>
                            {% for subrule in rule.subrules.all %}
                                <tr class="govuk-table__row app-flexible-table__row">
                                    <td class="govuk-table__cell app-flexible-table__cell{% if not forloop.last %} helpdesk-rules-of-origin-cell--sub-rule-item{% endif %}" data-column-heading="Description of product">
                                        <p>{{ subrule.description|safe }}</p>
                                    </td>
                                    <td class="govuk-table__cell app-flexible-table__cell{% if not forloop.last %} helpdesk-rules-of-origin-cell--sub-rule-item{% endif %}" data-column-heading="How non-originating materials must be worked or processed to get country of origin status">
                                        <p>{{ subrule.rule_text_processed|set_country:country_code|safe }}</p>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                {% endspaceless %}
            </tbody>
        </table>
        {% if footnotes %}
            <h4 class="govuk-heading-s govuk-!-margin-top-4">Notes</h4>
            {% for note in footnotes %}
                <a class="roo-footnote-anchor" name="roo_note_{{ note.number }}"></a>
                <p class="govuk-body govuk-!-font-size-16">{{ note.number }}) {{ note.note }}</p>
            {% endfor %}
        {% endif %}
        {% if introductory_notes %}
            <details class="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text govuk-!-font-size-16">
                        Introductory notes
                    </span>
                </summary>
                <div class="govuk-details__text govuk-!-padding-bottom-0 govuk-!-font-size-16">
                    {{ introductory_notes.note|safe }}
                </div>
            </details>
        {% endif %}
    {% endfor %}
</div>
