
                                   <table class="govuk-table app-flexible-table">
                                        <caption class="govuk-table__caption govuk-visually-hidden"></caption>
                                        <tbody class="govuk-table__body app-flexible-table__body">

                                        {% for item in  section_notes %}

                                            <tr class="govuk-table__row app-flexible-table__row">
                                                <td colspan="2" class="govuk-table__header app-flexible-table__cell govuk-!-font-weight-regular govuk-!-font-size-16" scope="row" data-column-heading="Description">{{ item|safe }}</td>
                                            </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>
