<details class="govuk-details govuk-!-margin-bottom-0">
    <summary class="govuk-details__summary ">
        <span class="govuk-details__summary-text govuk-!-font-size-16">How to use the tariffs table</span>
    </summary>
    <div class="govuk-details__text govuk-!-font-size-16">
        <details class="govuk-details govuk-!-margin-bottom-2 govuk-!-font-size-16">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Third country duty and tariff preferences
                </span>
            </summary>
            <div class="govuk-details__text">
                <p class="govuk-body govuk-!-font-size-16">
                    A ‘Third country’ duty is the tariff charged where there isn’t a trade agreement or a customs union with the UK. It can also be referred to as the Most Favoured Nation (MFN) rate.
                </p>
                <p class="govuk-body govuk-!-font-size-16">
                    A tariff preference is the rate available if a free trade agreement or another arrangement is in place between the UK and your country. Your goods will need to comply with the rules of origin to benefit from this rate and you will need to provide evidence of compliance with your shipment. Read the Rules of Origin section of this page for more information.
                </p>
                <p class="govuk-body govuk-!-font-size-16">
                    If a country has multiple arrangements with the UK then different preferential rates (and rules) will be shown for each arrangement.
                </p>
            </div>
        </details>

        <details class="govuk-details govuk-!-margin-bottom-2 govuk-!-font-size-16">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Which rate do I use?
                </span>
            </summary>
            <div class="govuk-details__text">
                You and your importer would normally seek to use the lowest preferential rate that is available. However, you must also consider the business costs of demonstrating compliance with Rules of Origin. Where the difference in tariffs is small, and compliance costs are high, you may prefer to use the MFN rate on small shipments.
            </div>
        </details>

        <details class="govuk-details govuk-!-margin-bottom-2 govuk-!-font-size-16">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    What does the start date mean?
                </span>
            </summary>
            <div class="govuk-details__text">
                <p class="govuk-body govuk-!-font-size-16">
                    Tariff rates do not always stay the same throughout the year, and this service only shows the rates that apply today. The start date shows when this tariff measure came into effect. If there is also a date in brackets, such as “(1 September 2021)” this shows when the current measure will end.
                </p>
                <p class="govuk-body govuk-!-font-size-16">
                    Rates for other times of the year can be obtained by searching for this commodity on the detailed <a class="govuk-link" href="https://www.gov.uk/trade-tariff">Trade Tariff</a> tool and using the “change date” feature.
                </p>
            </div>
        </details>

        <details class="govuk-details govuk-!-margin-bottom-2 govuk-!-font-size-16">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Supplementary unit
                </span>
            </summary>
            <div class="govuk-details__text govuk-!-font-size-16">
                This is used when an additional measurement unit is needed on customs declarations. For example: the weight in grams as well as the quantity of the products. The importer might need to declare this information. The product might not be allowed into the UK if the supplementary unit is not given.
            </div>
        </details>

        <details class="govuk-details govuk-!-margin-bottom-2 govuk-!-font-size-16">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Suspension
                </span>
            </summary>
            <div class="govuk-details__text govuk-!-font-size-16">
                In some cases, a lower tariff rate applies if goods are being used for a particular purpose. For example, if they are used as a food ingredient, rather than selling directly to consumers. Details of the permitted usage to benefit from the lower rate may be given in the Conditions listed for that suspension.
            </div>
        </details>

        <details class="govuk-details govuk-!-margin-bottom-2 govuk-!-font-size-16">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Combined measures
                </span>
            </summary>
            <div class="govuk-details__text govuk-!-font-size-16">
                Many rates are a simple percentage or an amount per unit. However, these can be combined.
                <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16 govuk-!-margin-top-3">
                    <li>
                        4% + 3.00 GBP/kg indicates that an ‘ad valorem‘ (by value) percentage on the customs value should be applied, and then a further amount added based on the weight.
                    </li>
                    <li>
                        4% + 3.00 GBP/kg MAX 10% indicates a limit on the duty before MAX. In this example (4% + 3.00 GBP/kg) can go no higher than if a 10% advalorem percentage had been applied.
                    </li>
                    <li>
                        4% + 3.00 GBP/kg MAX 5% + 1.15 GBP/kg shows that the duty will be the smaller of either (4% + 3.00GBP/kg) or (5%+1.15GBP/kg).
                    </li>
                </ul>
            </div>
        </details>
    </div>
</details>
