{% load dotted_format %}

<div id="tariffs_and_taxes" class="govuk-!-margin-bottom-9">
    <h2 class="govuk-heading-l govuk-!-font-weight-bold govuk-!-margin-bottom-3">
        <a name="tariffs_and_taxes"></a>Tariffs and taxes - {{ commodity.commodity_code|dotted_format }}
    </h2>
    <div class="govuk-caption-m">
        <p class="govuk-body-s helpdesk-caption"><span class="helpdesk-direction__left-to-right">{{ selected_origin_country_name }}</span> United Kingdom</p>
    </div>

    <div class="govuk-!-margin-bottom-3">
        {% include "hierarchy/_tariffs_and_taxes_glossary.html" %}
    </div>

    <div class="govuk-!-margin-bottom-9">
        <h3 class="govuk-heading-m govuk-!-font-weight-bold govuk-!-margin-bottom-3">
            Current Tariffs
        </h3>
        {% include "commodities/_tariffs.html" %}
    </div>

    <div id="tariffs_after_transition" class="govuk-!-margin-bottom-9">
        {% if global_tariff_data.result_type == global_tariff_data.result_types.HAS_RESULTS %}
            {% include "commodities/_tariffs_and_taxes_ukgt_future.html" with global_tariff_data=global_tariff_data.result %}
        {% elif global_tariff_data.result_type == global_tariff_data.result_types.MULTIPLE_RESULTS %}
            {% include "commodities/_tariffs_and_taxes_ukgt_future_multiple_results.html" %}
        {% elif global_tariff_data.result_type == global_tariff_data.result_types.NO_RESULT %}
            {% include "commodities/_tariffs_and_taxes_ukgt_future_no_result.html" %}
        {% endif %}
    </div>

    <div>
        <h3 class="govuk-heading-m govuk-!-font-weight-bold govuk-!-margin-bottom-3">
            Taxes
        </h3>
        {% include "commodities/_taxes.html" %}
    </div>
</div>
