{% load dotted_format %}

<div id="tariffs_and_charges" class="govuk-!-margin-bottom-9">
    <h3 class="govuk-heading-m govuk-!-font-weight-bold govuk-!-margin-bottom-3">
        <a name="tariffs_and_charges"></a>Tariffs and charges - {{ commodity.commodity_code|dotted_format }}
    </h3>
    <div class="govuk-caption-m ">
        <p class="govuk-body-s helpdesk-caption"><span class="helpdesk-direction__left-to-right">{{ selected_origin_country_name }}</span> United Kingdom</p>
    </div>
    <p class="govuk-body">
        This product may be subject to either of the following:
    </p>
    <ul class="govuk-list govuk-list--bullet">
        <li>UK tariffs and charges</li>
        <li>EU tariffs and charges</li>
    </ul>

    <p class="govuk-body">
        Which set of tariffs and charges apply will depend on:
    </p>
    <ul class="govuk-list govuk-list--bullet">
        <li>whether the product is intended for use in the UK or the EU</li>
        <li>the proportions of each shipment intended for use in the UK and the EU respectively</li>
        <li>whether UK-intended products may subsequently be imported into the Republic of Ireland</li>
    </ul>

    <p class="govuk-body">
        If you have a customs agent, freight forwarder or importer, they should be able to tell you which tariffs and charges apply to your shipment. Otherwise, please contact the <a href="https://www.gov.uk/guidance/trader-support-service">Trader Support Service</a> for more information.
    </p>

    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-tariffs-and-charges">
        <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button govuk-!-font-size-24" id="accordion-uk-tariffs-and-charges-heading">
                        UK tariffs and charges - {{ commodity.commodity_code|dotted_format }}
                    </span>
                </h2>
            </div>
            <div id="accordion-uk-tariffs-and-charges-content" class="govuk-accordion__section-content" aria-labelledby="accordion-uk-tariffs-and-charges-heading">
                {% if ukgt_enabled %}
                    <h3 class="govuk-heading-m govuk-!-font-weight-bold govuk-!-margin-bottom-3">
                        Current tariffs
                    </h3>
                    {% include "hierarchy/_tariffs_and_charges_glossary.html" %}
                    {% include "hierarchy/_tariffs_and_charges_table.html" with column_titles=column_titles table_data=uk_tariffs_and_charges_table_data %}

                    <h3 class="govuk-heading-m govuk-!-font-weight-bold govuk-!-margin-bottom-3">
                        Tariffs after 1 January 2021
                    </h3>
                    {% include "hierarchy/_tariffs_and_charges_glossary.html" %}
                    {% if global_tariff_data.result_type == global_tariff_data.result_types.HAS_RESULTS %}
                        {% include "hierarchy/_tariffs_and_charges_ukgt_future_table_data.html" with global_tariff_data=global_tariff_data.result %}
                    {% endif %}
                {% else %}
                    {% include "hierarchy/_tariffs_and_charges_glossary.html" %}
                    {% include "hierarchy/_tariffs_and_charges_table.html" with column_titles=column_titles table_data=uk_tariffs_and_charges_table_data %}
                {% endif %}
            </div>
        </div>

        <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button govuk-!-font-size-24" id="accordion-uk-tariffs-and-charges-heading">
                        EU tariffs and charges - {{ commodity.commodity_code|dotted_format }}
                    </span>
                </h2>
            </div>
            <div id="accordion-uk-tariffs-and-charges-content" class="govuk-accordion__section-content" aria-labelledby="accordion-uk-tariffs-and-charges-heading">
                {% include "hierarchy/_tariffs_and_charges_glossary.html" %}
                {% include "hierarchy/_tariffs_and_charges_table.html" with column_titles=column_titles table_data=eu_tariffs_and_charges_table_data %}
            </div>
        </div>
    </div>
</div>
