<details class="govuk-details govuk-!-margin-bottom-0">
    <summary class="govuk-details__summary ">
        <span class="govuk-details__summary-text govuk-!-font-size-16">How to value goods for the UK</span>
    </summary>
    <div class="govuk-details__text govuk-!-font-size-16">
        <p>The duty paid on your goods is based on the import value. This will normally be the sales cost of your goods plus freight, insurance and any other costs or expenses when delivering your goods to the port or other import location. You do not need to include transport costs within the UK, buying commission, UK selling commission, or duties and taxes chargeable in the UK.</p>

        <p><a class="govuk-link" href="https://www.gov.uk/guidance/how-to-value-your-imports-for-customs-duty-and-trade-statistics">Find out more about working out the value of your imports</a>, including valuation methods if your goods do not have a sale price.</p>
    </div>
</details>
