{% load dotted_format %}

<table class="govuk-table app-flexible-table">
    <thead class="govuk-table__head app-flexible-table__head">
        <tr class="govuk-table__row">
            <th class="govuk-table__header app-flexible-table__header" scope="col">Commodity</th>
            <th class="govuk-table__header app-flexible-table__header" scope="col">Description</th>
            <th class="govuk-table__header app-flexible-table__header" scope="col">UK global tariff</th>
            <th class="govuk-table__header app-flexible-table__header" scope="col">Change</th>
        </tr>
    </thead>
    <tbody class="govuk-table__body app-flexible-table__body">
        <tr class="govuk-table__row app-flexible-table__row">
            <th class="govuk-table__header app-flexible-table__cell" scope="row">
                <p>{{ global_tariff_data.commodity|dotted_format }}</p>
            </th>
            <td class="govuk-table__cell app-flexible-table__cell">
                <p>{{ global_tariff_data.description }}</p>
            </td>
            <td class="govuk-table__cell app-flexible-table__cell">
                <p>{{ global_tariff_data.ukgt_duty_rate }}</p>
            </td>
            <td class="govuk-table__cell app-flexible-table__cell">
                <p>{{ global_tariff_data.change }}</p>
            </td>
        </tr>
    </tbody>
</table>
