{% load dotted_format %}

<h3 class="govuk-heading-l govuk-!-font-weight-bold govuk-!-margin-bottom-3">
    Tariffs and charges - {{ commodity.commodity_code|dotted_format }}
</h3>

<div class="govuk-caption-m">
    <p class="govuk-body-s helpdesk-caption"><span class="helpdesk-direction__left-to-right">{{ selected_origin_country_name }}</span> United Kingdom</p>
</div>

<div id="tariffs_and_charges" class="govuk-!-margin-bottom-9">
    {% include "commodities/_tariffs_and_charges_ukgt.html" with tariffs_and_charges_table_data=uk_tariffs_and_charges_table_data %}
</div>

<div id="tariffs_after_transition" class="govuk-!-margin-bottom-9">
    {% if global_tariff_data.result_type == global_tariff_data.result_types.HAS_RESULTS %}
        {% include "commodities/_tariffs_and_charges_ukgt_future.html" with global_tariff_data=global_tariff_data.result %}
    {% elif global_tariff_data.result_type == global_tariff_data.result_types.MULTIPLE_RESULTS %}
        {% include "commodities/_tariffs_and_charges_ukgt_future_multiple_results.html" %}
    {% elif global_tariff_data.result_type == global_tariff_data.result_types.NO_RESULT %}
        {% include "commodities/_tariffs_and_charges_ukgt_future_no_result.html" %}
    {% endif %}
</div>
