{% extends "hierarchy/base_commodity_object_detail.html" %}

{% block details %}
    <div id="app-commodity-details">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <nav>
                    <p class="govuk-body govuk-!-margin-bottom-3">Contents</p>

                    <ul class="app-contents govuk-!-margin-bottom-9">
                        {% for heading, href in section_menu_items %}
                            <li class="govuk-!-margin-bottom-1">
                                <a class="govuk-body" href="#{{href}}">
                                    {{ heading }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>

                {% for section in sections %}
                    {% include section.template %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
