{% extends 'hierarchy/base_commodity_object_detail.html' %}

{% load dotted_format %}

{% block title %}Chapter information for {% for commodity_code_segment in chapter.commodity_code_split %}{{ commodity_code_segment }} {% endfor %}{% endblock title %}

{% block heading %}
    {% include "hierarchy/_hierarchy_header.html" with object=chapter %}
{% endblock %}

{% block subheading %}
    <h3 class="govuk-heading-s govuk-!-margin-bottom-3">
        Choose a commodity code to see more information
    </h3>

    <p class="govuk-body">
        If your item is not listed by name, it may be shown under what it's used for, what it's made from or 'other'.
    </p>
{% endblock %}
