{% extends "hierarchy/base_heading_detail.html" %}

{% load dotted_format %}

{% block heading %}
    {% if heading.leaf %}
        Product export information for
        {{ heading.commodity_code|dotted_format }}
        from {{ selected_origin_country_name }} to the United Kingdom
    {% else %}
        Continue to classify
        {{ heading.commodity_code|dotted_format }}
        from {{ selected_origin_country_name }} to the United Kingdom
    {% endif %}
{% endblock %}

{% block details %}
    <div id="app-commodity-details">
        {% if ni_journey_enabled %}
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    {% url "heading-detail-northern-ireland" country_code=selected_origin_country heading_code=heading.commodity_code nomenclature_sid=heading.goods_nomenclature_sid as ni_details_url %}
                    {% include "hierarchy/_ni_warning.html" with ni_details_url=ni_details_url %}
                </div>
            </div>
        {% endif %}

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <nav>
                    <p class="govuk-body govuk-!-margin-bottom-3">Contents</p>
                    <ul class="app-contents govuk-!-margin-bottom-9">

                        {% include "commodities/_commodity_contents.html" %}

                    </ul>
                </nav>

                {% if tariffs_and_charges_table_data %}
                    <h3 class="govuk-heading-l govuk-!-font-weight-bold govuk-!-margin-bottom-3">Tariffs and charges - {{ heading.commodity_code|dotted_format }}</h3>
                    <div class="govuk-caption-m ">
                        <p class="govuk-body-s helpdesk-caption"><span class="helpdesk-direction__left-to-right">{{ selected_origin_country_name }}</span> United Kingdom</p>
                    </div>

                    {% if tariff_content_label %}
                        <div class="govuk-body">
                            {% with template_name=tariff_content_label|stringformat:"s"|add:".html" %}
                                {% include "commodities/"|add:template_name %}
                            {% endwith %}
                        </div>
                    {% endif %}

                    <div id="tariffs_and_charges" class="govuk-!-margin-bottom-9">
                        {% include "commodities/_tariffs_and_charges_ukgt.html" %}
                    </div>

                    <div id="tariffs_after_transition" class="govuk-!-margin-bottom-9">
                        {% if global_tariff_data.result_type == global_tariff_data.result_types.HAS_RESULTS %}
                            {% include "commodities/_tariffs_and_charges_ukgt_future.html" with global_tariff_data=global_tariff_data.result %}
                        {% elif global_tariff_data.result_type == global_tariff_data.result_types.MULTIPLE_RESULTS %}
                            {% include "commodities/_tariffs_and_charges_ukgt_future_multiple_results.html" %}
                        {% elif global_tariff_data.result_type == global_tariff_data.result_types.NO_RESULT %}
                            {% include "commodities/_tariffs_and_charges_ukgt_future_no_result.html" %}
                        {% endif %}
                    </div>
                {% endif %}

                {% if quotas_table_data %}
                    <div id="quotas" class="govuk-!-margin-bottom-9">
                        {% include "commodities/_quotas.html" %}
                    </div>
                {% endif %}

                {% if other_table_data %}
                    <div id="other_measures" class="govuk-!-margin-bottom-9">
                        {% include "commodities/_other_measures.html" %}
                    </div>
                {% endif %}
            </div>

            {% if rules_of_origin %}
                {% include "commodities/_rules_of_origin.html" %}
            {% endif %}

            {% if regulation_groups %}
                {% include "commodities/_regulations.html" %}
            {% endif %}
        </div>
    </div>
{% endblock %}
