{% extends "hierarchy/base_heading_detail.html" %}

{% load dotted_format %}

{% block heading %}
    {% include "hierarchy/_hierarchy_header.html" with object=heading %}
{% endblock %}

{% block details %}
    <div id="app-commodity-details">
        {% if ni_journey_enabled %}
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    {% url "heading-detail-northern-ireland" country_code=selected_origin_country|lower heading_code=heading.commodity_code nomenclature_sid=heading.goods_nomenclature_sid as ni_details_url %}
                    {% include "hierarchy/_ni_warning.html" with ni_details_url=ni_details_url %}
                </div>
            </div>
        {% endif %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <nav>
                    <p class="govuk-body govuk-!-margin-bottom-3">Contents</p>
                    <ul class="app-contents govuk-!-margin-bottom-9">
                        {% include "commodities/_commodity_contents.html" %}
                    </ul>
                </nav>

                {% if tariffs_and_charges_table_data %}
                    <div id="tariffs_and_charges" class="govuk-!-margin-bottom-9">
                        {% include "commodities/_current_tariffs_and_charges.html" %}
                    </div>
                {% endif %}

                {% if quotas_table_data %}
                    <div id="quotas" class="govuk-!-margin-bottom-9">
                        {% include "commodities/_quotas.html" %}
                    </div>
                {% endif %}

                {% if other_table_data %}
                    <div id="other_measures" class="govuk-!-margin-bottom-9">
                        {% include "commodities/_other_measures.html" %}
                    </div>
                {% endif %}
            </div>

            {% if old_roo_enabled and old_rules_of_origin %}
                {% include "commodities/_rules_of_origin_pre21.html" %}
            {% elif not old_roo_enabled and rules_of_origin %}
                {% include "commodities/_rules_of_origin.html" %}
            {% endif %}

            {% if regulation_groups %}
                {% include "commodities/_regulations.html" %}
            {% endif %}
        </div>
    </div>
{% endblock %}
