{% extends 'core/base.html' %}

{% comment %}
# -----------------------------------------------------------------------------
# NOTE - table column headers.
# -----------------------------------------------------------------------------
# If the table columns headings are changed, they also need to be updated in
# the SCSS file `_flexible-tables.scss` - otherwise the card-based layout for
# smaller screens will break.
# -----------------------------------------------------------------------------
{% endcomment %}

{% load static staticfiles i18n cell_cleaner replace %}

{% block title %}Heading information for {% for commodity_code_segment in heading.commodity_code_split %}{{ commodity_code_segment }} {% endfor %}{% endblock title %}

{% block content %}

<div class="app-commodity-summary">
    <div class="govuk-width-container">
        <div id="app-commodity-overview">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <a href="{% url 'search:search-commodity' country_code=selected_origin_country.lower %}" class="govuk-back-link govuk-!-margin-bottom-7 govuk-!-margin-top-3">New search</a>

                    <h2 class="govuk-heading-l govuk-!-margin-bottom-3">Export
                        {% for heading_code_segment in heading.heading_code_split %}{{ heading_code_segment }}{% if not forloop.last %}.{% endif %}{% endfor %}
                        from {{ selected_origin_country_name }} to the United Kingdom
                    </h2>

                    <h3 class="govuk-heading-s govuk-!-margin-bottom-3">
                        Choose the commodity code below that is closest your goods to see more information
                    </h3>

                    <p class="govuk-body-s">Last updated {{ heading.last_updated }}</p>

                    <div id="app-hierarchy-context">
                        <div class="app-hierarchy-context__wrapper">
                            <div class="helpdesk-breadcrumbs">
                                <p class="govuk-body govuk-!-font-size-16">{{accordion_title}}</p>
                                    {{ heading_hierarchy_context | safe }}
                            </div>
                        </div>

                        {% if heading_notes or chapter_notes or section_notes %}
                        <div id="app-commodity-notes">
                            <details class="govuk-details govuk-!-margin-bottom-0">
                                <summary class="govuk-details__summary govuk-!-margin-bottom-0">
                                  <span class="govuk-details__summary-text govuk-!-font-size-16">Notes</span>
                                </summary>
                                <div class="govuk-details__text ">
                                    {%  if heading_notes %}
                                        <h3>Heading notes</h3>
                                        {% include "hierarchy/_heading_notes.html" %}
                                    {% endif %}
                                    {% if chapter_notes %}
                                        <h3>Chapter notes</h3>
                                        {% include "hierarchy/_chapter_notes.html" %}
                                    {% endif %}
                                    {%  if section_notes %}
                                        <h3>Section notes</h3>
                                        {% include "hierarchy/_section_notes.html" %}
                                    {% endif %}
                                </div>
                            </details>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <nav>
                <ul id="app-action-links" class="govuk-!-margin-top-5 govuk-!-margin-bottom-5">
                    <li class="govuk-visually-hidden"><a href="{% url 'search:search-commodity' country_code=selected_origin_country.lower %}">New search</a></li>
                    <li class="govuk-visually-hidden"><i class="helpdesk-icon helpdesk-icon__email"></i><a href="#">Get email alerts when something changes</a></li>
                    <li class="govuk-visually-hidden"><i class="helpdesk-icon helpdesk-icon__feed"></i><a rel="nofollow" href="#">Subscribe to feed</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>

{% if heading.leaf %}
<div class="govuk-width-container">
    <main id="main-content" class="govuk-main-wrapper">

        <div id="app-commodity-details">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <nav>
                        <p class="govuk-body govuk-!-margin-bottom-3">Contents</p>
                        <ul class="app-contents govuk-!-margin-bottom-9">

                         {% include "commodities/_commodity_contents.html" %}

                        </ul>
                    </nav>

                        {% if tariffs_and_charges_table_data %}
                        <div id="tariffs_and_charges" class="govuk-!-margin-bottom-9">

                            {% include "commodities/_tariffs_and_charges.html" %}

                        </div>
                        {% endif %}

                        {% if quotas_table_data %}
                            <div id="quotas" class="govuk-!-margin-bottom-9">

                            {% include "commodities/_quotas.html" %}

                            </div>
                        {% endif %}

                        {% if other_table_data %}
                            <div id="other_measures" class="govuk-!-margin-bottom-9">

                            {% include "commodities/_other_measures.html" %}

                            </div>
                        {% endif %}

                </div>

                {% if rules_of_origin %}

                    {% include "commodities/_rules_of_origin.html" %}

                {% endif %}

                {% if regulations %}

                    {% include "commodities/_regulations.html" %}

                {% endif %}

            </div>
        </div>

    </main>

    {% if modals %}
        {% for modal in modals.values %}
            {{ modal|safe }}
        {% endfor %}
    {% endif %}

</div>
{% endif %}

{% endblock %}
