{% extends "hierarchy/base_sectioned_heading_detail.html" %}

{% load dotted_format %}

{% block heading %}
    {% include "hierarchy/_hierarchy_header.html" with object=heading %}
{% endblock %}

{% block warning %}
    {% if ni_journey_enabled %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {% url "heading-detail-northern-ireland" country_code=selected_origin_country|lower heading_code=heading.commodity_code nomenclature_sid=heading.goods_nomenclature_sid as ni_details_url %}
                {% include "hierarchy/_ni_warning.html" with ni_details_url=ni_details_url %}
            </div>
        </div>
    {% endif %}
{% endblock %}
