{% extends 'core/base.html' %}
{% load dotted_format %}

{% block title %}
    Commodity information for
    {{ commodity_object.commodity_code|dotted_format }}
{% endblock title %}

{% block content %}
    <div class="govuk-width-container">
        <main id="main-content" class="govuk-main-wrapper">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <a href="{{ back_url }}" class="govuk-back-link govuk-!-margin-bottom-7 govuk-!-margin-top-0">Back</a>
                    <h2 class="govuk-heading-l govuk-!-margin-bottom-3">
                        {{ measure_type }} for
                        {% spaceless %}
                            <span class="app-commodity-code">
                            {% for commodity_code_segment in commodity_code_split %}
                                <span class="app-commodity-code__highlight app-commodity-code__highlight--{{ forloop.counter }}">
                                {{ commodity_code_segment }}
                                </span>
                            {% endfor %}
                            </span>
                        {% endspaceless %}
                    </h2>
                </div>
            </div>
            <div class="govuk-grid-row govuk-!-margin-bottom-7">
                <div class="govuk-grid-column-two-thirds">
                    <p class="govuk-body">{{ commodity_description }}</p>
                </div>
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    {% include "hierarchy/measure_quota_table.html" %}
                </div>
            </div>
        </main>
    </div>
{% endblock %}
