
.app-hierarchy-tree,
.app-hierarchy-tree--child {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}

.app-hierarchy-tree {

  & > .app-hierarchy-tree__parent {
    margin-left: 0;

    &:nth-child(odd) {
      background-color: govuk-colour("white");
    }
  }
}

.app-hierarchy-tree--child {
  width: 100%;
}

.app-hierarchy-tree__part {
  @extend .govuk-body;
  // background-color: rgba(0, 0, 0, 0.01);
  border-top: 1px solid $govuk-border-colour;
  line-height: 1.35;
  margin: 0.5em 0 0 0;
  padding: 0.5em 0 0 0;
  text-align: right;
}

.app-hierarchy-tree__chapter,
.app-hierarchy-tree__heading,
.app-hierarchy-tree__subheading,
.app-hierarchy-tree__commodity,
.app-hierarchy-tree__other {
  margin-left: 1em;

  @include govuk-media-query($from: tablet) {
    margin-left: 1.5em;
  }
}

/*

.app-hierarchy-tree__section {
  background: red;
}

.app-hierarchy-tree__chapter {
  background: lightseagreen;
}

.app-hierarchy-tree__heading {
  background: orangered;
}

.app-hierarchy-tree__subheading {
  background: limegreen;
}

.app-hierarchy-tree__commodity {
  background: orange;
}

.app-hierarchy-tree__other {
  background: lightpink;
}
*/

.app-hierarchy-tree__commodity {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 8 16' fill='currentColor'><path fill-rule='evenodd' d='M8 12H0V4h8v8z'/></svg>");
  background-size: 0.9em 0.9em;
  background-position: 0.65em 0.75em;
  background-repeat: no-repeat;
  padding-left: 2em;
}

.app-hierarchy-tree__section-numbers,
.app-hierarchy-tree__chapter-range {
  @extend .govuk-body-s;

  box-sizing: border-box;
  display: inline-block;
  margin: 0;

  @include govuk-media-query($from: tablet) {
    padding-top: 0.5em;
    width: (9.5em / 2);
    text-align: left;
  }
}

.app-hierarchy-tree__section-numbers {
  margin-right: 1em;
}

.app-hierarchy-tree__commodity-code {
  margin-top: 0.125em;

  @include govuk-media-query($from: tablet) {
    width: 9.5em;
  }
}

.app-hierarchy-tree__link {
  background-position: 0 0.25em;
  background-repeat: no-repeat;
  background-size: 1.25em 1.25em;
  box-sizing: border-box;
  display: inline-block;
  padding: 0.25em 1em 0.25em 0;
  text-align: left;
  vertical-align: middle;
  width: 100%;

  @include govuk-media-query($from: tablet) {
    // background-position: 0.5em 0.5em;
    vertical-align: top;
    width: calc(100% - 9.5em);
  }
}

.app-hierarchy-tree__link--child {
  font-weight: bold;

  &:hover {
    b {
      background-color: $govuk-link-hover-colour;
    }
  }

  b {
    background-color: $govuk-link-colour;
    color: govuk-colour('white');
    display: block;
    line-height: 1;
    padding: 0.6em 0.7em 0.4em 0.7em;
    width: 3em;
    text-align: center;
  }
}

.app-hierarchy-tree__link--parent {
  padding-left: 1.25em;

  .app-hierarchy-tree__parent--open & {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' width='32' height='32' fill='currentColor'><path d='M5 6h10l-5 9-5-9z'/></svg>");
    font-weight: bold;
  }

  .app-hierarchy-tree__parent--closed & {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' width='32' height='32' fill='currentColor'><path d='M15 10l-9 5V5l9 5z'/></svg>");
    font-weight: normal;
  }
}