@import "./common.scss";
@import "govuk-frontend/components/tabs/tabs";

.app-sub-header {
    background-color: #f8f8f8;
    margin: 0;
    padding: 2rem 0;
}

.app-table__cell--actions {
    text-align: center;
}

.app-table__cell--no-results {
    text-align: center;
}
