<div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="{{ accordion_id }}-business-registration-procedures-heading">
                Business registration procedures
            </span>
        </h2>
    </div>
    <div id="{{ accordion_id }}-business-registration-procedures-content" class="govuk-accordion__section-content" aria-labelledby="{{ accordion_id }}-business-registration-procedures-heading">
        <p class="govuk-body">
            <a class="govuk-link" href="https://www.great.gov.uk/international/content/invest/how-to-setup-in-the-uk/">Great.gov.uk</a> includes a useful set of <a class="govuk-link" href="https://www.great.gov.uk/international/content/invest/how-to-setup-in-the-uk/#guides">guides on expanding to the UK</a>.
        </p>
        <p class="govuk-body">
            Read our guide <a class="govuk-link" href="https://www.gov.uk/set-up-business">Set up a business</a>, where you can find:
        </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>step by step guides to registering the most common types of UK businesses</li>
            <li>links to specific UK rules for different business models</li>
            <li>details of the different responsibilities if you run the business from home or from a separate rented or purchased property</li>
            <li>information on your responsibilities if you take on additional permanent or temporary staff</li>
        </ul>
    </div>
</div>
