<div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="{{ accordion_id }}-foreign-investment-regulations-heading">
                Foreign investment regulations
            </span>
        </h2>
    </div>
    <div id="{{ accordion_id }}-foreign-investment-regulations-content" class="govuk-accordion__section-content" aria-labelledby="{{ accordion_id }}-foreign-investment-regulations-heading">
        <p class="govuk-body">
            There are no specific restrictions on foreign ownership of UK businesses. You can read about <a class="govuk-link" href="https://www.gov.uk/business-and-industry/business-regulation">business regulation</a> to find out more about investment regulations in the UK.
        </p>
    </div>
</div>
