<div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="{{ accordion_id }}-government-procurement-notices-laws-and-regulations-heading">
                Government procurement notices, laws and regulations
            </span>
        </h2>
    </div>
    <div id="{{ accordion_id }}-government-procurement-notices-laws-and-regulations-content" class="govuk-accordion__section-content" aria-labelledby="{{ accordion_id }}-government-procurement-notices-laws-and-regulations-heading">
        <h3 class="govuk-heading-s">Opportunities</h3>
        <p class="govuk-body">
            <a class="govuk-link" href="https://www.gov.uk/find-tender">Find a Tender</a> lists high value contracts (usually above £118,000) in the UK’s public and utilities sectors. It also provides links to relevant UK public procurement regulations.
        </p>
        <p class="govuk-body">
            <a class="govuk-link" href="https://www.gov.uk/contracts-finder">Contracts Finder</a> lets you search for information about contracts worth over £10,000 with the UK government and its agencies.
        </p>
        <p class="govuk-body">
            The devolved nations of the UK (Scotland, Wales and Northern Ireland) also run their own separate procurement portals:
        </p>
        <ul class="govuk-list govuk-list--bullet">
            <li><a class="govuk-link" href="https://www.publiccontractsscotland.gov.uk/search/search_mainpage.aspx">Public Contracts Scotland</a></li>
            <li><a class="govuk-link" href="https://www.sell2wales.gov.wales/">Sell2Wales</a></li>
            <li><a class="govuk-link" href="https://e-sourcingni.bravosolution.co.uk/web/login.shtml">eSourcing NI</a></li>
            <li><a class="govuk-link" href="https://etendersni.gov.uk/epps/home.do">eTenders NI</a></li>
        </ul>
        <p class="govuk-body">
            Other domain-specific procurement portals include:
        </p>
        <ul class="govuk-list govuk-list--bullet">
            <li><a class="govuk-link" href="https://contracts.mod.uk/web/login.html">MOD Defence Contracts Online </a></li>
        </ul>

        <h3 class="govuk-heading-s">Policy</h3>
        <p class="govuk-body">
            Find the <a class="govuk-link" href="https://www.gov.uk/government/collections/procurement-policy-notes">latest public procurement policy announcements</a>.
        </p>
    </div>
</div>
