<!--
    Information Sharing Text Template for trade scenario TWUK_TA:
    For countries with a UK trade agreement, or EPA - but without continuing GSP access,
    and for which TWUK has the Rules of Origin data.
-->
<p class="govuk-body">
    This page contains information on the UK’s trade agreement with {{ country_name }}.
</p>

<p class="govuk-body">
    There are also links to other sources of UK Government information to help you:
</p>
<ul class="govuk-list govuk-list--bullet">
    <li>understand and use the agreement when exporting to the UK</li>
    <li>understand the relevant regulations and requirements</li>
</ul>
