<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-goods">
    {% include "countries/information/_import_taxes.html" with accordion_id="accordion-goods" %}
    {% include "countries/information/_how_to_value_goods_for_the_uk.html" with accordion_id="accordion-goods" %}
    {% include "countries/information/_customs_regulations_and_procedures.html" with accordion_id="accordion-goods" %}
    {% include "countries/EU/information/_technical_regulations_standards_and_product_safety.html" with accordion_id="accordion-goods" %}
</div>
