<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-trade-agreements">
    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-trade-agreements-heading-1">
                    Trade and Cooperation Agreement and other agreements
                </span>
            </h2>
        </div>
        <div id="accordion-trade-agreements-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-trade-agreements-heading-1">
            <div class="govuk-!-margin-bottom-6">
                <p class="govuk-!-font-size-19 govuk-!-margin-0">
                    <a class="govuk-link" href="https://www.gov.uk/government/publications/agreements-reached-between-the-united-kingdom-of-great-britain-and-northern-ireland-and-the-european-union/summary-explainer">Summary Explainer of Trade and Cooperation Agreement</a>
                </p>
            </div>

            <div class="govuk-!-margin-bottom-6">
                <p class="govuk-!-font-size-19 govuk-!-margin-0">
                    <a class="govuk-link" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/948119/EU-UK_Trade_and_Cooperation_Agreement_24.12.2020.pdf">Trade and Cooperation Agreement (including Annexes and Protocols)</a>
                </p>
            </div>
        </div>
    </div>
</div>
