                            {% if tariffs_and_charges_table_data %}
                                <li class="govuk-!-margin-bottom-1"><a class="govuk-body" href="#tariffs_and_charges">{% if ukgt_enabled %}Current tariffs and charges{% else %}Tariffs and charges{% endif %}</a></li>
                                {% if ukgt_enabled %}
                                <li class="govuk-!-margin-bottom-1"><a class="govuk-body" href="#tariffs_after_transition">Tariffs after transition</a></li>
                                {% endif %}
                            {% endif %}

                            {% if quotas_table_data %}
                            <li class="govuk-!-margin-bottom-1"><a class="govuk-body" href="#quotas">Quotas</a></li>
                            {% endif %}

                            {% if other_table_data %}
                            <li class="govuk-!-margin-bottom-1"><a class="govuk-body" href="#other_measures">Other measures</a></li>
                            {% endif %}

                            {%  if rules_of_origin %}
                            <li class="govuk-!-margin-bottom-1"><a class="govuk-body" href="#rules_of_origin">Rules of origin</a></li>
                            {% endif %}

                            {%  if regulation_groups %}
                            <li class="govuk-!-margin-bottom-1"><a class="govuk-body" href="#regulations">Product-specific regulations</a></li>
                            {% endif %}
