<p>
    The UK is seeking to conclude an agreement with Ghana to maintain, as far as possible, existing preferential trading arrangements. 
</p>

<p>
    Trade is currently taking place under the <a class="govuk-link" href="{{ tariff_content_url }}">Generalised Scheme of Preferences</a>.
</p>

<p>
    The UK’s Most Favoured Nation (MFN) tariff, or third country duty (see table below) will apply if the conditions for the Generalised Scheme of Preferences are not met. 
</p>

<p>
    On 31 December 2020, the UK and Ghana issued a Joint Statement announcing that both sides had reached consensus on the major elements of a trade agreement, and were committed to making the gap in preferences as short as possible. 
</p>
