<h4 class="govuk-heading-m govuk-!-font-weight-bold govuk-!-margin-bottom-3">
    Current status
</h4>
<p>
    Currently, the UK does not have a trade agreement with {{ country_name }}.
</p>
<p>
    The UK currently trades with {{ country_name }} on non-preferential terms.
</p>

<h4 class="govuk-heading-m govuk-!-font-weight-bold govuk-!-margin-bottom-3">
    Future status
</h4>
<p>
    The UK will continue to trade with {{ country_name }} on non-preferential terms after the UK leaves the EU.
</p>
<p>
    The <a class="govuk-link" href="https://www.gov.uk/guidance/uk-tariffs-from-1-january-2021">UK’s Global Tariff</a> rate for duties will apply to exports from {{ country_name }}
</p>
