<p>
    The UK has a trade agreement with {{ country_name }}.
</p>
<p>
    Where applicable, tariff preferences are available. If the conditions for preferential access are not met, the UK’s Most Favoured Nation (MFN) rate (or third country duty) applies.
</p>
<p>
    This agreement largely maintains the previous EU trade agreement, including in most instances on duties. In some cases, the non-preferential applied rates may be lower because of changes in the UK’s MFN tariff schedule.
</p>
<p>
    <a class="govuk-link" href="{{ tariff_content_url }}">Find out about any significant changes</a>
</p>
