<h4 class="govuk-heading-m govuk-!-font-weight-bold govuk-!-margin-bottom-3">
    Current status
</h4>
<p>
    Currently we trade with Australia on UK Global Tariff (UKGT) terms.
</p>

<h4 class="govuk-heading-m govuk-!-font-weight-bold govuk-!-margin-bottom-3">
    Future status
</h4>
<p>
    Negotiations are under way for a future free trade agreement, and information on preferential rates will be published here as soon as they are available. In the meantime, <a class="govuk-link" href="https://www.gov.uk/check-tariffs-1-january-2021">UKGT terms</a> will apply.
</p>
