<p>
    The UK has signed a trade agreement with Chile. The UK's Most Favoured Nation (MFN) tariff, or third country duty (see table below), will apply if the conditions for preferential access are not met. 
</p>

<p>
    This agreement largely maintains the previous EU trade agreement, including in most instances on duties. However, in some cases, the non-preferential applied rates may in fact be lower because of changes in the UK’s MFN tariff schedule. 
</p>

<p>
    <a class="govuk-link" href="{{ tariff_content_url }}">Find out about any significant changes</a>.
</p>
