<h4 class="govuk-heading-m govuk-!-font-weight-bold govuk-!-margin-bottom-3">
    Current status
</h4>
<p>
    EU duties continue to apply until 31 December 2020.
</p>

<h4 class="govuk-heading-m govuk-!-font-weight-bold govuk-!-margin-bottom-3" id="future_status">
    <a name="future_status"></a>
    Future status
</h4>
<p>
    The UK is seeking to conclude an agreement with {{ country_name }} to maintain, as far as possible, existing preferential trading arrangements.
</p>
<p>
    If an agreement is not concluded with {{ country_name }} by the end of the transition period, trade would take place on non-preferential terms and the UK’s Global Tariff rate for duties would apply to exports from {{ country_name }}.
</p>
