<p>
    The UK has a trade agreement with Vietnam which is currently in effect. 
</p>

<p>
    Tariff preferences will be applied retrospectively for goods imported to Vietnam from the UK from 1 January 2021 (expected until the end of April 2021). Businesses will be able to claim back any additional tariffs paid in this temporary period from the Government of Vietnam.
</p>

<p>
    This agreement largely maintains the previous EU trade agreement, including in most instances on duties. In some cases, the non-preferential applied rates may in fact be lower because of changes in the UK’s Most Favoured Nation (MFN) tariff schedule.
</p>

<p>
    Vietnam has exclusions on certain products. Please refer to the <a class="govuk-link" href="https://www.gov.uk/government/publications/trading-with-developing-nations">UK’s Generalised Scheme of Preferences</a>.
</p>
