<h4 class="govuk-heading-m govuk-!-font-weight-bold govuk-!-margin-bottom-3">
    Current status
</h4>
<p>
    EU duties continue to apply until 31 December 2020.
</p>

<h4 class="govuk-heading-m govuk-!-font-weight-bold govuk-!-margin-bottom-3" id="future_status">
    <a name="future_status"></a>
    Future status
</h4>
<p>
    The UK has signed a trade agreement with {{ country_name }} that is expected to take effect from 1 January 2021 (or as soon as possible afterwards).
</p>
<p>
    This agreement largely maintains the existing EU trade agreement, including in most instances on duties. 
</p>
