<h4 class="govuk-heading-m govuk-!-font-weight-bold govuk-!-margin-bottom-3">
    Current status
</h4>
<p>
    The EU trades with Norway and Iceland through the EEA Agreement and bilateral agreements between the EU and Norway. The duties under the EU agreements will still apply until 31 December 2020.
</p>

<h4 class="govuk-heading-m govuk-!-font-weight-bold govuk-!-margin-bottom-3">
    Future status
</h4>
<p>
    Because of Iceland and Norway’s close ties to the EU, our future trading relationship with them will be influenced by their relationship with the EU.
</p>
<p>
    We are aiming to conclude a free trade agreement (FTA) with Norway and Iceland (EEA EFTA States) to come into force from 1 January 2021 (or as soon as possible afterwards). This FTA will seek to replicate the effect of our existing trade relationships, as far as possible, and enable us to continue to strengthen it over time.
</p>
{% if tariff_content_url %}
    <p>
        <a class="govuk-link" href="{{ tariff_content_url }}">Find out more about the Iceland and Norway trade agreement </a>
    </p>
{% endif %}
