<p>
    The United Kingdom has signed a trade agreement with Canada that is expected to enter into effect in early 2021. Preferential tariff rates will continue to apply. However, in some cases, the non-preferential applied rates for imports into the UK may in fact be lower because of changes in the UK’s Most Favoured Nation (MFN) tariff schedule. The UK’s MFN tariff, or third country duty (see table below), will apply if the conditions for preferential access are not met. 
</p>

<p>
    <a class="govuk-link" href="{{ tariff_content_url }}">Find out about any significant changes</a>.
</p>
