<h4 class="govuk-heading-m govuk-!-font-weight-bold govuk-!-margin-bottom-3">
    Current status
</h4>
<p>
    EU duties continue to apply until 31 December 2020.
</p>

<h4 class="govuk-heading-m govuk-!-font-weight-bold govuk-!-margin-bottom-3" id="future_status">
    <a name="future_status"></a>
    Future status
</h4>
<p>
    The UK has signed a trade agreement with {{ country_name }} that is expected to take effect from 1 January 2021 (or as soon as possible afterwards).
</p>
<p>
    Tariff rates for bilateral trade in goods between the UK and the Andean countries will continue to apply as soon as the agreement takes effect. However, in some cases, the non-preferential applied rates may in fact be lower because of changes in the UK’s Most Favoured Nation (MFN) tariff schedule.
</p>
<p>
    The <a class="govuk-link" href="https://www.gov.uk/guidance/uk-tariffs-from-1-january-2021">UK Global Tariff</a> was published in May 2020 and sets out the UK's MFN tariff from next year, which will apply if the conditions for preferential access are not met. The current figures for this product are shown below.
</p>
<p>
    <a class="govuk-link" href="{{ tariff_content_url }}">Find out more about the UK-Andean countries trade agreement</a>
</p>

