<p>
    The UK has signed a trade agreement with {{ country_name }} that is expected to take effect from 1 January 2021 (or as soon as possible afterwards).
</p>
<p>
    Preferential tariff rates for bilateral trade in goods between the UK and {{ country_name }} will continue to apply as soon as the agreement takes effect. The UK's MFN tariff will apply if the conditions for preferential access are not met.
</p>
<p>
    This agreement largely maintains the previous EU trade agreement, including in most instances on duties. However, in some cases, the non-preferential applied rates may in fact be lower because of changes in the UK’s Most Favoured Nation (MFN) tariff schedule.
</p>
