<p>
    The UK has signed a trade agreement with Jordan which is in effect.
</p>

<p>
    This agreement largely maintains the previous EU trade agreement, including in most instances on duties.
</p>

<p>
    Jordan is also a beneficiary of the UK Generalised Scheme of Preferences (GSP) and the Enhanced Framework. Tariff preferences are available on selected product lines.
</p>

<p>
    Jordan has exclusions on certain products. Please refer to the <a class="govuk-link" href="https://www.gov.uk/government/publications/trading-with-developing-nations">UK’s Generalised Scheme of Preferences</a>.
</p>
