<p>
    The UK has signed a trade agreement with Canada that is expected to take effect in early 2021. Trade is taking place on preferential terms.
</p>
<p>
    This agreement largely maintains the previous EU trade agreement, including in most instances on duties. In some cases, the non-preferential applied rates may be lower because of changes in the UK’s Most Favoured Nation (MFN) tariff schedule.   
</p>
<p>
    <a class="govuk-link" href="{{ tariff_content_url }}">Find out about any significant changes</a>.
</p>
