<p>
    The UK-Japan Comprehensive Economic Partnership Agreement (CEPA) was signed on 23 October 2020.
</p>
<p>
    Tariff rates for bilateral trade in goods between the UK and Japan will for the vast majority of products remain the same in CEPA.  The UK's MFN tariff will apply if the conditions for preferential access are not met.
</p>
<p>
    In some cases, the non-preferential applied rates are lower because of changes in the UK’s Most Favoured Nation (MFN) tariff schedule.
</p>
<p>
    Please refer to the <a class="govuk-link" href="{{ tariff_content_url }}">UK-Japan CEPA business guidance</a> for further details.
</p>
