<p>
    The UK has signed a trade agreement with {{ country_name }} that is expected to take effect from 1 January 2021 (or as soon as possible afterwards).
</p>
<p>
    Preferential tariff rates for bilateral trade in goods between the UK and {{ country_name }}  will continue to apply as soon as the agreement takes effect. The UK's MFN tariff will apply if the conditions for preferential access are not met.
</p>
<p>
    <a class="govuk-link" href="{{ tariff_content_url }}">Find out more about the UK-Andean countries trade agreement</a>
</p>
