<h4 class="govuk-heading-m govuk-!-font-weight-bold govuk-!-margin-bottom-3">
    Current status
</h4>
<p>
    EU duties continue to apply until 31 December 2020.
</p>
<p>
    During the transition period, no custom duties apply.
</p>

<h4 class="govuk-heading-m govuk-!-font-weight-bold govuk-!-margin-bottom-3">
    Future status
</h4>
<p>
    If an agreement is not concluded with the EU by the end of the transition period, trade would take place on non-preferential terms and the <a class="govuk-link" href="https://www.gov.uk/guidance/uk-tariffs-from-1-january-2021">UK Global Tariff</a> rate for duties would apply to exports from the EU.
</p>
