<h4 class="govuk-heading-m govuk-!-font-weight-bold govuk-!-margin-bottom-3">
    Current status
</h4>
<p>
    EU duties continue to apply until 31 December 2020.
</p>

<h4 class="govuk-heading-m govuk-!-font-weight-bold govuk-!-margin-bottom-3">
    Future status
</h4>
<p>
    The UK has signed a free trade agreement with {{ country_name }}.
</p>
<p>
    The UK-Japan Comprehensive Economic Partnership Agreement (CEPA) was signed on 23 October 2020. <a class="govuk-link" href="{{ tariff_content_url }}">Find out more about this agreement</a>.
</p>
