<p>
    The United Kingdom has signed a trade agreement with Mexico that is expected to enter into effect in early 2021. Preferential tariff rates will continue to apply. In some cases, the applied preferential rates for imports into the UK have been adjusted due to changes in the UK’s Most Favoured Nation (MFN) tariff schedule (for example, removing of the entry price regime and certain complex agricultural duties). There will ultimately be no difference between the preferential tariff rates that will apply before and after the agreement enters into force.
</p>

<p>
    The UK’s MFN tariff, or third country duty (see table below), will apply if the conditions for preferential access are not met. 
</p>

<p>
    <a class="govuk-link" href="{{ tariff_content_url }}">Find out about any significant changes</a>.
</p>
