<p>
    The UK has signed a trade agreement with Jordan which is expected to come into effect on 1 May 2021.
</p>

<p>
    This agreement largely maintains the previous EU trade agreement, including in most instances on duties. Until the agreement comes into effect, non-preferential rates may apply according to the UK’s MFN tariff schedule.
</p>

<p>
    Jordan is also a beneficiary of the UK Generalised Scheme of Preferences (GSP) and the Enhanced Framework. Tariff preferences are available on selected product lines.
</p>

<p>
    Jordan has exclusions on certain products. Please refer to the <a class="govuk-link" href="https://www.gov.uk/government/publications/trading-with-developing-nations">UK’s Generalised Scheme of Preferences</a>.
</p>
