<p>EU duties will continue to apply to goods coming into the United Kingdom until 31st December 2020.</p>

<p>The UK has signed a trade agreement to maintain, as far as possible, existing preferential trading arrangements.
    You can find out more about <a href="{{ tariff_content_url }}">the UK and {{ country_name }}'{{ country_suffix }} agreement</a>, including details of any altered products, quotas or changes to rules of origin.</p>

<p>The <a href="https://www.gov.uk/guidance/uk-tariffs-from-1-january-2021">UK Global Tariff</a> was published in May 2020 and sets out the UK's MFN tariff from next year, which will apply if the conditions for preferential access are not met. The current figures for this product are shown below.</p>