<p>
    The UK has reached a trade agreement with the EU which is expected to take effect from 1 January 2021. This establishes zero tariffs or quotas on trade between the UK and EU, where goods meet the relevant rules of origin. <a class="govuk-link" href="https://www.gov.uk/government/publications/agreements-reached-between-the-united-kingdom-of-great-britain-and-northern-ireland-and-the-european-union/summary-explainer">Find out more about the agreement</a>.
</p>
<p>
  This agreement also provides for full bilateral cumulation, allowing EU inputs and processing to be counted as UK input in UK products exported to the EU, and vice versa.
</p>
<p>
Detailed rules of origin applicable from 1 January 2021 will be added to this service shortly, but can be seen in the full <a class="govuk-link" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/948119/EU-UK_Trade_and_Cooperation_Agreement_24.12.2020.pdf">Trade and Cooperation Agreement</a> text, in the Rules of Origin chapter (pages 27-41) and the annexes on Rules of Origin (pages 415-485). This also includes a light touch declaration process (set out from page 478). Find out more about <a class="govuk-link" href="https://www.gov.uk/government/publications/rules-of-origin-for-goods-moving-between-the-uk-and-eu-from-1-january-2021">rules of origin aspects of the agreement</a>.
</p>
<p>
    The UK's MFN tariff will apply if the conditions for preferential access are not met.
</p>
