<p>EU duties will continue to apply to goods coming into the United Kingdom until 31st December 2020.</p>

<p>The UK is seeking to conclude an agreement with {{ country_name }} to maintain, as far as possible, existing preferential trading arrangements.
    If an agreement is not in place, trade will take place on WTO's Most Favoured Nation terms from 1st January 2021.</p>

<p>The <a href="https://www.gov.uk/guidance/uk-tariffs-from-1-january-2021">UK Global Tariff</a> was published in May 2020 and sets out the UK's MFN tariff from next year. The current figures for this product are shown below.</p>
