<h4 class="govuk-heading-m govuk-!-font-weight-bold govuk-!-margin-bottom-3">
    Current status
</h4>
<p>
    EU duties continue to apply until 31 December 2020.
</p>

<h4 class="govuk-heading-m govuk-!-font-weight-bold govuk-!-margin-bottom-3" id="future_status">
    <a name="future_status"></a>
    Future status
</h4>
<p>
    The UK has signed a trade agreement with {{ country_name }} that is expected to take effect from 1 January 2021 (or as soon as possible afterwards).
</p>
<p>
    This agreement largely maintains the existing EU trade agreement, including in most instances on duties.
</p>
<p>
    Preferential tariff rates for bilateral trade in goods between the UK and {{ country_name }}  will continue to apply as soon as the agreement takes effect.
</p>
<p>
    Some <a class="govuk-link" href="https://www.gov.uk/look-up-import-tariffs-1-january-2021">preferential rates and commodity codes from 1 January 2021</a> are now available. More will be added towards the end of the year, and some information may change.
</p>
<p>
    The <a class="govuk-link" href="https://www.gov.uk/guidance/uk-tariffs-from-1-january-2021">UK Global Tariff</a> was published in May 2020 and sets out the UK's MFN tariff from next year, which will apply if the conditions for preferential access are not met. The current figures for this product are shown below.
</p>
<p>
    <a class="govuk-link" href="{{ tariff_content_url }}">Find out more about the UK-Andean countries trade agreement</a>
</p>
