<div class="govuk-caption-m">
    <p class="govuk-body-s helpdesk-caption"><span class="helpdesk-direction__left-to-right">{{ selected_origin_country_name }}</span> United Kingdom</p>
</div>

{% if is_eu_member %}
    <p class="govuk-body">
        The UK is currently in the same customs union as {{ selected_origin_country_name }} as a fellow EU Member State. This means that no customs duties apply.
    </p>
{% endif %}

{% include "commodities/_tariffs_and_charges_glossary.html" %}

{% include "commodities/_tariffs_and_charges_table.html" with column_titles=column_titles table_data=tariffs_and_charges_table_data %}
