{% load dotted_format %}

{% if ukgt_enabled %}
    <h2 class="govuk-heading-l govuk-!-font-weight-bold govuk-!-margin-bottom-3">
        <a name="quotas"></a>Quotas - {{ commodity.commodity_code|dotted_format }}
    </h2>
{% else %}
    <h3 class="govuk-heading-m govuk-!-font-weight-bold govuk-!-margin-bottom-3">
        <a name="quotas"></a>Quotas - {{ commodity.commodity_code|dotted_format }}
    </h3>
{% endif %}

<div class="govuk-caption-m ">
    <p class="govuk-body-s helpdesk-caption"><span class="helpdesk-direction__left-to-right">{{ selected_origin_country_name }}</span> United Kingdom</p>
</div>

<p class="govuk-body app-info">Quotas allow limited  amounts of specific goods to be imported at a lower  duty rate.</p>

{% include "hierarchy/_quotas_table.html" with column_title=column_titles table_data=quotas_table_data %}
