



                  <div class="govuk-grid-column-full">
                      <h3 class="govuk-heading-m"><a name="regulations">Product-specific regulations - {% for commodity_code_segment in commodity.commodity_code_split %}{{ commodity_code_segment }}{% if not forloop.last %}.{% endif %}{% endfor %}</a></h3>
                    <p class="govuk-body app-info">These regulations apply to this product. </P>
                    <div class="govuk-accordion"
                        data-module="accordion"
                        id="accordion-default">
                      {% for regulation in regulations %}
                        <div class="govuk-accordion__section ">
                          <div class="govuk-accordion__section-header">
                            <h4 class="govuk-accordion__section-heading govuk-heading-s">
                              <span class="govuk-accordion__section-button"
                                    id="accordion-default-heading-{{ forloop.counter }}">
                                  <p class="govuk-body govuk-!-margin-bottom-0 govuk-!-margin-left-3"><a href="">{{ regulation.title  }}</a></p>
                              </span>
                            </h4>
                          </div>
                          <div id="accordion-default-content-{{ forloop.counter }}"
                              class="govuk-accordion__section-content"
                              aria-labelledby="accordion-default-heading-{{ forloop.counter }}">
                            <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-3">
                              {% for document in regulation.document_set.all %}
                                <li class="govuk-body-s govuk-!-margin-bottom-2"><a href="{{ document.url }}"
                                    class="govuk-link " target="_blank">
                                    {% if 'none' not in document.title|lower %}
                                      {{ document.title }}
                                    {% else %}
                                      {{ document.url }}
                                    {% endif %}
                                  </a>
                                </li>
                              {% endfor %}
                            </ul>
                          </div>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
