{% load dotted_format %}

<div class="govuk-grid-column-full">
  {% if ukgt_enabled %}
      <h2 class="govuk-heading-l"><a name="regulations"></a>Product-specific regulations - {{ commodity.commodity_code|dotted_format }}</h2>
  {% else %}
      <h3 class="govuk-heading-m"><a name="regulations"></a>Product-specific regulations - {{ commodity.commodity_code|dotted_format }}</h3>
  {% endif %}

  <div class="govuk-accordion"
      data-module="accordion"
      id="accordion-default">
    {% for regulation_group in regulation_groups %}
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h4 class="govuk-accordion__section-heading govuk-heading-s">
            <span class="govuk-accordion__section-button"
                  id="accordion-default-heading-{{ forloop.counter }}">
              <p class="govuk-body govuk-!-margin-bottom-0 govuk-!-margin-left-3">
                <a href="#" class="app-accordion__heading-title">
                  {{ regulation_group.title }}
                </a>
              </p>
            </span>
          </h4>
        </div>
        <div id="accordion-default-content-{{ forloop.counter }}"
            class="govuk-accordion__section-content"
            aria-labelledby="accordion-default-heading-{{ forloop.counter }}">
          <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-3">
            {% for regulation in regulation_group.regulation_set.all %}
              <li class="govuk-body-s govuk-!-margin-bottom-2"><a href="{{ regulation.url }}"
                  class="govuk-link " target="_blank">
                  {% if 'none' not in regulation.title|lower %}
                    {{ regulation.title }}
                  {% else %}
                    {{ regulation.url }}
                  {% endif %}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
