{% load replace %}



                  <div class="govuk-grid-column-full govuk-!-margin-bottom-9" id="rules-of-origin">
                      <h3 class="govuk-heading-m"><a name="rules_of_origin"></a>Rules of origin for tariff preference - {% for commodity_code_segment in commodity.commodity_code_split %}{{ commodity_code_segment }}{% if not forloop.last %}.{% endif %}{% endfor %}</h3>
                    <p class="govuk-body">If any material in the product is not wholly from or processed in the country of origin -
                      ‘non-originating’ - it must meet the <a class="govuk-link"
                        href="https://www.gov.uk/government/publications/notice-828-tariff-preferences-rules-of-origin-for-various-countries/notice-828-tariff-preferences-rules-of-origin-for-various-countries">rules
                        of origin</a> to qualify for a tariff preference.</p>
                    <p class="govuk-body">Also <a class="govuk-link"
                        href="https://www.gov.uk/guidance/signed-uk-trade-agreements-transitioned-from-the-eu">check the trade
                        agreements the UK has with the country you are exporting from</a>.</p>
                    <details class="govuk-details govuk-!-margin-bottom-9">
                      <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text govuk-!-font-size-16">
                          How to use the rules of origin table
                        </span>
                      </summary>
                      <div class="govuk-details__text govuk-!-padding-bottom-0 govuk-!-font-size-16">
                        <p>The rules of origin table contains:</p>

                        <ul class="govuk-list--bullet">
                          <li>the product classification heading ('HS heading') or chapter number (column 1)</li>
                          <li>a description of the product (column 2)</li>
                          <li>a description of how non-originating materials must be worked or processed to get country of origin
                            status
                            (column 3)</li>
                        </ul>

                        <p>In some cases there may be 2 columns (columns 3 and 4) that describe how non-originating
                          materials must be worked or processed.</p>

                        <p>For each row:</p>

                        <ul class="govuk-list--bullet">
                          <li>check column 1 to find the product classification heading or chapter number for the product being
                            exported
                          </li>
                          <li>check column 2 to find the description that applies to the product</li>
                          <li>check column 3 (and 4 if present) to see how the product must be worked or processed to gain country of
                            origin status</li>
                        </ul>

                        <p>Unless preceded by ‘ex’, the rules in column 3 (or 4 if present) apply to all products
                          that come under the headings and chapters in column 1.</p>

                        <p>If the heading in column 1 starts with ‘ex’, the rules in column 3 (and 4 if present)
                          will
                          only apply to the product as described in column 2.</p>

                        <p>If there are 2 columns that describe how non-originating materials must be worked or
                          processed (if columns 3 and 4 are present), you can apply either rule.</p>

                      </div>
                    </details>
                    <div class="govuk-!-margin-bottom-4">
                    {% for group in rules_of_origin.items %}
                      <h3 class="govuk-heading-s govuk-!-margin-top-4">{{ group.0|replace}}</h3>
                      <table class="govuk-table govuk-table__rules_of_origin app-flexible-table">
                        <caption class="govuk-table__caption govuk-visually-hidden">Rules of origin for tariff preference</caption>
                        <thead class="govuk-table__head app-flexible-table__head">
                          <tr class="govuk-table__row">
                            <th class="govuk-table__header app-flexible-table__header"
                                scope="col"><abbr title="Harmonised System">HS</abbr> heading</th>
                            <th class="govuk-table__header app-flexible-table__header"
                                scope="col">Description of product</th>
                            <th class="govuk-table__header govuk-!-width-one-half app-flexible-table__header"
                                scope="col">How non-originating materials must be worked or processed to get country of origin status
                            </th>
                          </tr>
                        </thead>
                        <tbody class="govuk-table__body app-flexible-table__body">
                          {% spaceless %}
                            {% for rule in group.1.rules %}
                              <tr class="govuk-table__row app-flexible-table__row">
                                <td class="govuk-table__cell app-flexible-table__cell"
                                    data-column-heading="Harmonised System heading">
                                  <p>{{ rule.rule_id }}</p>
                                </td>
                                <td class="govuk-table__cell app-flexible-table__cell"
                                    data-column-heading="Description of product">
                                  <p>{{ rule.description | safe }}</p>
                                </td>
                                <td class="govuk-table__cell app-flexible-table__cell"
                                    data-column-heading="How non-originating materials must be worked or processed to get country of origin status">
                                  <p>{{ rule.working_or_processing_one | safe }}</p>
                                </td>
                              </tr>
                            {% endfor %}
                          {% endspaceless %}
                        </tbody>
                      </table>
                    {% endfor %}
                    </div>
                  </div>
