{% extends "commodities/_rules_of_origin.html" %}

{% load dotted_format %}

{% block rules_of_origin %}
    {% if old_rules_of_origin %}
        {% include "hierarchy/_rules_of_origin_table_explainer.html" %}
        {% include "hierarchy/_old_rules_of_origin_table_data.html" %}
    {% endif %}

    {% if rules_of_origin %}
        <h3 class="govuk-heading-m"><a name="rules_of_origin"></a>Rules of origin from 1 January 2021 - {{ commodity.commodity_code|dotted_format }}</h3>
        {% include "hierarchy/_rules_of_origin_table_explainer.html" %}
        {% include "hierarchy/_rules_of_origin_table_data.html" %}
    {% endif %}
{% endblock %}
