<p class="govuk-body">
    If any material in the product is not wholly from or processed in the country of origin - ‘non-originating’ - it must meet the rules of origin to qualify for a tariff preference.
</p>

<p class="govuk-body">
    <a class="govuk-link" href="https://www.gov.uk/guidance/check-your-goods-meet-the-rules-of-origin">Read guidance about rules of origin here</a>.
</p>

{% block rules_of_origin %}
    {% include "hierarchy/_rules_of_origin_table_explainer.html" %}
    {% include "hierarchy/_rules_of_origin_table_data.html" %}
{% endblock %}
