{% load cell_cleaner dotted_format %}

<h3 class="govuk-heading-m govuk-!-font-weight-bold govuk-!-margin-bottom-3">
    <a name="tariffs_after_transition"></a>
    MFN Tariffs from 1 January 2021
</h3>

<p class="govuk-body">
    The other non-tariff charges shown above will continue to apply.
</p>
<p class="govuk-body">
    If you currently have a trade agreement with the UK, existing arrangements may continue. See <a class="govuk-link" href="#future_status">Future status</a>.
</p>

{% include "hierarchy/_tariffs_and_taxes_ukgt_future_table_data.html" %}
