{% extends 'core/base.html' %}
{% load static staticfiles i18n %}

{% block content %}


  <h2 class="govuk-heading-l">
    <span class="govuk-caption-l">
      Exporting from {{ selected_origin_country_name }} to the UK
    </span>
    Commodity information for

    {% for commodity_code_segment in commodity_code %}
      <span class="app-commodity-code-highlight app-commodity-code-highlight--{{ forloop.counter }}">
        {{ commodity_code_segment }}
      </span>
    {% endfor %}
  </h2>

  <p class="govuk-body"></p>

  <h3 class="govuk-heading-m">Tarrifs and quotas</h3>
  <p class="govuk-body">The commodity code for exporting is <strong>{{ commodity.commodity_code }}</strong></p>
  <p class="govuk-body">Goods are subject to a <strong></strong></p>
  <p class="govuk-body">Exporting is subject to a duty of <strong>%</strong>, unless subject to other measures</p>

  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-visually-hidden">Tarrifs and quotas</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">Country</th>
        <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">Measure</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">£109.80 per week</td>
        <td class="govuk-table__cell">59.10 per week</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">£159.80 per week</td>
        <td class="govuk-table__cell">£89.10 per week</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">£4,282.20</td>
        <td class="govuk-table__cell">£2,182.20</td>
      </tr>
    </tbody>
  </table>


    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <p>{{ commodity.commodity_code }} - <b>{{ commodity.tts_title }}</b></p>

    {{ commodity }}

    <h4>Measures:</h4>

    {% for measure_obj in commodity.tts_obj.get_import_measures %}
        <h5>Measure Conditions: ({{ measure_obj.num_conditions }}</h5>
        {% for condition_obj in measure_obj.get_measure_conditions %}
            <p> {{ condition_obj.description }} </p>
        {% endfor %}
    {% endfor %}

    {% verbatim %}
    <script type="text/x-template" id="grid-template">
      <table>
        <thead>
          <tr>
            <th v-for="key in columns" @click="sortBy(key)" :class="{ active: sortKey == key }">
              {{ key | capitalize }}
              <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
              </span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="entry in filteredData">
            <td v-for="key in columns">
               <span v-if="['conditions_html', 'legal_base_html', 'footnotes_html'].includes(key)">
                   <span v-html="entry[key]"></span>
               </span>
               <span v-else>{{ entry[key] }}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </script>

    <div id="demo">
      <demo-grid :data="gridData" :columns="gridColumns" :filter-key="searchQuery"></demo-grid>
    </div>
    {% endverbatim %}

    <script type="text/x-template" id="measure-conditions-modal">
      <transition name="modal-fade">
        <div class="modal-backdrop" role="dialog">
          <div class="modal" ref="modal">
            <header class="modal-header">
              <slot name="header">
                <h2>This is the default tile!</h2>

                <button type="button" class="btn-close btn-right" @click="close" aria-label="Close modal">x</button>
              </slot>
            </header>

            <section class="modal-body">
              <slot name="body">I'm the default body!</slot>
            </section>

            <footer class="modal-footer">
              <slot name="footer">
                <button type="button" class="btn btn-green" @click="close" aria-label="Close modal">Close me!</button>
              </slot>
            </footer>
          </div>
        </div>
      </transition>
    </script>
    <script>
        var commodityCode = "{{ commodity.commodity_code }}";
        var originCountry = "{{ selected_origin_country }}";
    </script>
    <script src="{% static 'js/commodity_detail_table_app.js' %}"></script>
    {% endblock %}
