{% extends 'core/base.html' %}
{% load static staticfiles i18n %}

{% block content %}


  <h2 class="govuk-heading-l">
    <span class="govuk-caption-l">
      Exporting from {{ selected_origin_country_name }} to the UK
    </span>
    Commodity information for

    {% for commodity_code_segment in commodity_code %}
      <span class="app-commodity-code-highlight app-commodity-code-highlight--{{ forloop.counter }}">
        {{ commodity_code_segment }}
      </span>
    {% endfor %}
  </h2>

  <p class="govuk-body">{{ commodity.tts_title }}</p>

  <h3 class="govuk-heading-m">Tarrifs and quotas</h3>
  <p class="govuk-body">The commodity code for exporting is <strong>{{ commodity.commodity_code }}</strong></p>
  <p class="govuk-body">Goods are subject to a <strong></strong></p>
  <p class="govuk-body">Exporting is subject to a duty of <strong>%</strong>, unless subject to other measures</p>

  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-visually-hidden">Tarrifs and quotas</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        {% for key in table_keys %}
          <th class="govuk-table__header" scope="col">{{ key | capfirst  }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      {% for row in table_data %}
        <tr class="govuk-table__row">
          {% for  col in row %}
            <td class="govuk-table__cell">{{ col | safe }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
      </tbody>
  </table>


    {% if roo_fragments %}
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-heading-m">Rules of Origin</caption>
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header"><abbr title="Harmonised System">HS</abbr> heading</th>
          <th class="govuk-table__header">Description of product</th>
          <th class="govuk-table__header govuk-!-width-one-half">Working or processing, carried out on non-originating materials, which confers originating status</th>
      </tr>
      </thead>
        {% for html_fragment in roo_fragments %}
            {{ html_fragment | safe }}
        {% endfor %}
      </table>
    {% endif %}
  {% endblock %}
