{% extends 'core/base.html' %}
{% load static staticfiles i18n cell_cleaner %}

{% block title %}
    Commodity information for
    {% for commodity_code_segment in commodity_code_split %}{{ commodity_code_segment }}{% endfor %}
{% endblock title %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <a href="{% url 'commodity-detail' commodity_code=commodity_code country_code=selected_origin_country.lower %}" class="govuk-back-link govuk-!-margin-bottom-7 govuk-!-margin-top-0">Back</a>
            <h2 class="govuk-heading-l govuk-!-margin-bottom-3">
                <span class="govuk-caption-l">Exporting from {{ selected_origin_country_name }} to the UK</span>
                {{ measure_type }} for
                {% spaceless %}
                    <span class="app-commodity-code">
                    {% for commodity_code_segment in commodity_code_split %}
                        <span class="app-commodity-code__highlight app-commodity-code__highlight--{{ forloop.counter }}">
                        {{ commodity_code_segment }}
                        </span>
                    {% endfor %}
                    </span>
                {% endspaceless %}
            </h2>
        </div>
    </div>
    <div class="govuk-grid-row govuk-!-margin-bottom-7">
        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body">{{ commodity_description }}</p>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% include "commodities/measure_condition_table.html" %}
        </div>
    </div>
{% endblock %}
