{% load static i18n cell_cleaner replace %}

<table class="govuk-table app-flexible-table">
    <caption class="govuk-table__caption govuk-heading-m">Quota number : {{ quota_def.number }}</caption>
    <tbody class="govuk-table__body app-flexible-table__body">
    {% spaceless %}
        <tr class="govuk-table__row app-flexible-table__row">
            <th class="govuk-table__header app-flexible-table__cell govuk-!-font-weight-regular" scope="row"><p>Geographical area</p></th>
            <td class="govuk-table__cell app-flexible-table__cell" scope="row"><p>{{ geographical_area }}</p></td>
        </tr>
        <tr class="govuk-table__row app-flexible-table__row">
            <th class="govuk-table__header app-flexible-table__cell govuk-!-font-weight-regular" scope="row"><p>Quota dates</p></th>
            <td class="govuk-table__cell app-flexible-table__cell" scope="row"><p>{{ quota_def.definition.validity_start_date|date:"d F Y" }} - {{ quota_def.definition.validity_end_date|date:"d F Y" }}</p></td>
        </tr>
        <tr class="govuk-table__row app-flexible-table__row">
            <th class="govuk-table__header app-flexible-table__cell govuk-!-font-weight-regular" scope="row"><p>Initial ammount</p></th>
            <td class="govuk-table__cell app-flexible-table__cell" scope="row"><p>{{ quota_def.definition.initial_volume|floatformat:1 }} {{ quota_def.definition.measurement_unit|default_if_none:"" }} {{ quota_def.definition.monetary_unit|default_if_none:"" }}</p></td>
        </tr>
        <tr class="govuk-table__row app-flexible-table__row">
            <th class="govuk-table__header app-flexible-table__cell govuk-!-font-weight-regular" scope="row"><p>Current balance</p></th>
            <td class="govuk-table__cell app-flexible-table__cell" scope="row"><p>{{ quota_def.definition.balance|floatformat:1 }} {{ quota_def.definition.measurement_unit_qualifier|default_if_none:"" }} {{ quota_def.definition.measurement_unit|default_if_none:"" }} {{ quota_def.definition.monetary_unit|default_if_none:"" }}</p></td>
        </tr>
    {% endspaceless %}
    </tbody>
</table>
