{% extends 'core/base.html' %}

{% block title %}Feedback successfully sent{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <main id="main-content" class="govuk-main-wrapper">

    <h2 class="govuk-heading-l">
            <span class="govuk-caption-l">
                Feedback has been submitted successfully
            </span>
        Thank you for your feedback
    </h2>
    <p class="govuk-body govuk-!-margin-bottom-9">Return to <a href="{% url 'choose-country' %}">find information about exporting to the UK</a>.</p>
    </main>
</div>
{% endblock %}
