{% extends "core/base.html" %}
{% load i18n %}

{% block title %}
    {% if form.errors %}
        Error - Contact us
    {% else %}
        Contact us
    {% endif %}
{% endblock %}

{% block head %}
    {{ wizzard.form.media }}
{% endblock %}

{% block content %}

    <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>

    <form action="" method="post">
        {% csrf_token %}

        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h2 class="govuk-fieldset__heading">Contact us</h2>
        </legend>

        {% if form.errors %}
            {{ form.errors }}
        {% endif %}

        <fieldset class="govuk-fieldset">

            {{ wizard.management_form }}

            {% if wizard.form.forms %}

                {{ wizard.form.management_form }}

                {% for form in wizard.form.forms %}
                    {{ form }}
                {% endfor %}

            {% else %}
                {{ wizard.form }}
            {% endif %}

        </fieldset>

        <button type="submit" class="govuk-button govuk-!-padding-left-8 govuk-!-padding-right-8">Continue</button>

        {% if wizard.steps.prev %}
            <div class="govuk-form-group govuk-!-width-two-thirds govuk-!-margin-bottom-0">
                <a name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">Back</a>
            </div>
        {% endif %}
    </form>
{% endblock %}