{% extends "feedback/feedback_form_base.html" %}
{% load i18n %}

{% block title_form_page %}Contact us{% endblock %}

{% block form_page_title %}
                You can find out more about exporting to the UK on <a
                    href="http://www.gov.uk/">GOV.UK</a>
{% endblock %}

{% block form_body %}

                        <div class="govuk-form-group govuk-!-width-two-thirds govuk-!-margin-bottom-0">
                            <h2 class="govuk-fieldset__legend--s">Still need help?</h2>
                        </div>

                        <div class="govuk-form-group {% if wizard.form.errors %} govuk-form-group--error{% endif %}">
                            {% if wizard.form.errors %}
                                {% for error in wizard.form.errors %}
                                    <span id="enquiry_type-error"
                                          class="govuk-error-enquiry_type">{{ error | escape }}</span>
                                {% endfor %}
                            {% endif %}
                        </div>

{% endblock %}