{% extends "cms/regulations/base.html" %}

{% block main %}
    <h2 class="govuk-heading-l">
        Approval
    </h2>

    <h3 class="govuk-heading-m">
        {{ approval.description }}
    </h3>

    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Creator
            </dt>
            <dd class="govuk-summary-list__value">
                {{ approval.created_by.get_full_name }}
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Created
            </dt>
            <dd class="govuk-summary-list__value">
                {{ approval.created_at }}
            </dd>
        </div>

        {% if approval.approved %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Approver
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ approval.approved_by.get_full_name }}
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Approved
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ approval.approved_at }}
                </dd>
            </div>
        {% endif %}
    </dl>

    <h3 class="govuk-heading-m">Changes</h3>
    <dl class="govuk-summary-list">
        {% for change in approval.deferred_change.get_deferred_changes %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    {{ change.description }}
                </dt>
                <dd class="govuk-summary-list__value">
                    {% if change.single_value %}
                        {{ change.value }}
                    {% else %}
                        <ul class="govuk-list">
                            {% for value in change.values %}
                                <li>{{ value }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </dd>
            </div>
        {% endfor %}
    </dl>

    {% if is_approved %}
        <p class="govuk-body">
            <strong>This change has already been approved and applied.</strong>
        </p>
    {% elif can_approve %}
        <form method="post">
            {% csrf_token %}
            <button class="govuk-button" data-module="govuk-button">
                Approve
            </button>
        </form>
    {% else %}
        <p class="govuk-body">
            <strong>This change requires approval.</strong>
        </p>
        <div class="govuk-body">
            Approval link
            <div class="govuk-input__wrapper">
                <input class="govuk-input govuk-!-width-one-half" id="approval-url" type="text" readonly value="{{ approval_url }}">
                <button class="govuk-button" data-module="govuk-button" data-copy-button-for="approval-url">Copy</button>
            </div>
        </div>
    {% endif %}
{% endblock %}
