{% extends "cms/regulations/base.html" %}

{% block main %}
    <h2 class="govuk-heading-l">
        Approval
    </h2>

    <h3 class="govuk-heading-m">
        {{ approval.description }}
    </h3>

    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Creator
            </dt>
            <dd class="govuk-summary-list__value">
                {{ approval.created_by.get_full_name }}
            </dd>
        </div>

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Created
            </dt>
            <dd class="govuk-summary-list__value">
                {{ approval.created_at }}
            </dd>
        </div>
    </dl>

    <h3 class="govuk-heading-m">Changes</h3>
    <dl class="govuk-summary-list">
        {% for change in approval.deferred_change.get_deferred_changes %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    {{ change.description }}
                </dt>
                <dd class="govuk-summary-list__value">
                    {% if change.single_value %}
                        {{ change.value }}
                    {% else %}
                        <ul class="govuk-list">
                            {% for value in change.values %}
                                <li>{{ value }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </dd>
            </div>
        {% endfor %}
    </dl>    

    <form method="post">
        {% csrf_token %}
        <button class="govuk-button" data-module="govuk-button">
            Approve
        </button>
    </form>
{% endblock %}
