{% extends 'core/base.html' %}

{% block title %}Search{% endblock title %}

{% block content %}
<div class="govuk-grid-row govuk-!-padding-bottom-9">
  <div class="govuk-grid-column-full">
    <a href="{% url 'choose-country' %}" class="govuk-back-link govuk-!-margin-bottom-7 govuk-!-margin-top-0">Back</a>

    <h2 class="govuk-heading-l">
      <span class="govuk-caption-l">Step 2 of 2</span>
      Enter the commodity code for your goods
    </h2>

    <form action="{% url 'search-view' %}" method="get">
        <div class="govuk-form-group">
          <label class="govuk-hint" for="search">
            If you do not know the commodity code, you can look for it below.
          </label>
          <input class="govuk-input govuk-input--width-10" id="search" name="q" type="text">
        </div>
          <input type="hidden" name="country" value="{{ country_code | escape }}" />
        <button type="submit" class="govuk-button govuk-!-padding-left-8 govuk-!-padding-right-8">Continue</button>
    </form>

    <h2 class="govuk-heading-l govuk-!-padding-top-8">
      Look up commodity codes
    </h2>
    <p class="govuk-body govuk-hint">You might need to click through many descriptions before you can select a code.</p>

    {{ hierarchy_html | safe }}
  </div>
</div>
{% endblock %}
