<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>Search by keyword or commodity</h3>

    {% comment %}
        <!--<form action="{% url 'search-results' %}" method="get">-->
    {% endcomment %}

    <form action="" method="get">
        <input type="search" name="q">
        <input type="submit" value="submit">
    </form>
    <div>
        <p>Or <a href="{% url 'hierarchy-view' %}">browse hierarchy</a></p>
    </div>
</body>
</html>