{% extends 'core/base.html' %}
{% load urlparams %}

{% block title %}Search{{ title_suffix }}{% endblock title %}

{% block content %}

    <div class="govuk-width-container">
        <main id="main-content" class="govuk-main-wrapper">

            {% if results %}
                    {% include "search/_new_search_link.html" %}
            {% endif %}

            {% if not request.GET.q %}
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <h3 class="govuk-heading-s ">Previous answer</h3>
                        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-3 govuk-!-margin-bottom-3">
                        <p class="govuk-body govuk-!-padding-bottom-0 govuk-!-margin-bottom-0">
                            {% if importer_journey_enabled %}
                                Where are you importing from?
                            {% else %}
                                Where are you exporting from?
                            {% endif %}
                        </p>
                        <p class="govuk-body govuk-!-margin-bottom-2"><span
                                class="helpdesk-direction__left-to-right">{{ selected_origin_country_name }}</span>
                            United Kingdom</p>
                        <a href="{% url 'choose-country' %}" class="govuk-body">Change</a>
                        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible govuk-!-margin-top-3">
                    </div>
                </div>
            {% endif %}

            <div class="govuk-grid-row govuk-!-padding-bottom-9">

                <div class="govuk-grid-column-full">

                    <form id="commodity-search" action="{% url 'search:search-commodity' country_code=country_code %}"
                          class="govuk-!-padding-bottom-8" name="commodity_search" method="get">

                        {% if form_q_error %}
                            <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert"
                                 tabindex="-1"
                                 data-module="error-summary">
                                <h2 class="govuk-error-summary__title" id="error-summary-title">
                                    There is a problem
                                </h2>
                                <div class="govuk-error-summary__body">
                                    <ul class="govuk-list govuk-error-summary__list">
                                        <li>
                                            <a href="#commodity-code-error">{{ error_summary_message | safe }}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        {% endif %}


                        {% if not request.GET.q %}

                            <h2 class="govuk-heading-xl govuk-!-margin-bottom-3">
                                <label for="search">Search for the goods you are exporting</label>
                            </h2>
                            <div class="govuk-form-group{% if form_q_error %} govuk-form-group--error{% endif %}">
                            <div class="govuk-hint">
                                You can search using either:
                                <ul>
                                    {% if importer_journey_enabled %}
                                        <li>the name of what you are importing</li>
                                        <li>the commodity code of what you are importing</li>
                                    {% else %}
                                        <li>the name of what you are exporting</li>
                                        <li>the commodity code of what you are exporting</li>
                                    {% endif %}
                                </ul>
                            </div>
                        {% endif %}

                        {% if request.GET.q and not results %}

                            <h2 class="govuk-visually-hidden">
                                <label for="search">Search for the goods you are exporting</label>
                            </h2>
                            <h3 class="govuk-heading-xl govuk-!-margin-bottom-3">There are no results
                                for {{ request.GET.q }}</h3>

                            <div class="govuk-form-group{% if form_q_errors %} govuk-form-group--error{% endif %}">
                            <div class="govuk-hint">
                                Search again and consider:
                                <ul>
                                    <li>searching what the item is used for or made from</li>
                                    <li>checking your spelling</li>
                                </ul>
                            </div>
                        {% endif %}

                        {% if form_q_error %}
                            <span id="commodity-code-error" class="govuk-error-message">
                                    <span class="govuk-visually-hidden">Error:</span>
                                    {% for message in form_q_validation_message %}{{ message }}{% endfor %}
                                </span>
                        {% endif %}

                        {% if not request.GET.q or not results %}
                            <p>
                                <input class="govuk-input govuk-input--width-30 {% if form_q_error %}govuk-input--error{% endif %}"
                                       id="search" name="q" type="text" {% if form_q_error %}
                                       aria-describedby="select-country-error"{% endif %}
                                       value="{% if form.q.value %}{{ form.q.value }}{% endif %}">
                            </p>

                            <button type="submit" class="govuk-button govuk-!-padding-left-8 govuk-!-padding-right-8">
                                Search
                            </button>

                            </div>
                        {% endif %}
                        {% if not request.GET.q %}
                            <h2 class="govuk-heading-m govuk-!-padding-top-4">
                                <a name="browse"></a>Browse goods by category
                            </h2>
                            {{ hierarchy_html | safe }}
                        {% endif %}

                        {% if request.GET.q and results %}
                            <input type="hidden" name="q"
                                   value="{% if form.q.value or request.GET.q %}{{ request.GET.q }}{% endif %}"/>
                        {% endif %}

                        {% if not form %}
                            <input type="hidden" name="toggle_headings" value="0">
                            <input type="hidden" name="sort" value="ranking">
                            <input type="hidden" name="sort_order" value="desc">
                            <input type="hidden" name="page" value="1">
                            <input type="hidden" name="country" value="{{ country_code }}">
                        {% else %}
                            {% for hidden_field in form.hidden_fields %}
                                {{ hidden_field.errors }}
                                {% if request.GET.q  and results %}
                                    {% if hidden_field.name != "toggle_headings" and hidden_field.name != "sort" %}
                                        {{ hidden_field }}
                                    {% endif %}
                                {% else %}
                                    {% if hidden_field.name == "country" %}
                                        <input type="hidden" name="country" value="{{ country_code }}"/>
                                    {% else %}
                                        {{ hidden_field }}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}

                        {% if results %}
                            <h2 class="govuk-heading-l">
                                Search results for {{ request.GET.q }}
                                <span class="govuk-visually-hidden">
                                    {% if request.GET.toggle_headings == '0' %}
                                        (All results)
                                    {% endif %}
                                    {% if request.GET.toggle_headings == '1' %}
                                        (Complete commodity codes only)
                                    {% endif %}
                                </span>
                            </h2>

                           <ul class="govuk-tabs__list govuk-!-margin-bottom-3" role="tablist">
                               <li role="presentation" class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                                   <span aria-controls="query_panel_tree" class="govuk-tabs__tab" role="tab" tabindex="0" aria-selected="true"> Browse product types <br><span class="govuk-!-font-size-16"> ({{ group_result_count }} results) </span></span>
                               </li>
                               <li role="presentation" class="govuk-tabs__list-item ">
                                   <a aria-controls="query_panel_index" class="govuk-tabs__tab" href="{% url 'search:search-commodity-old' country_code=request.GET.country %}{% urlparams q=request.GET.q country=country_code toggle_headings=0 sort='ranking' sort_order='desc' page=1 %}" role="tab" tabindex="1" aria-selected="false"> Select individual product <br><span class="govuk-!-font-size-16"> ({{ total_results }} results) </span></a>
                               </li>
                           </ul>
                        {% endif %}

                        {% if request.GET.q and results %}
                            <div id="search-results">

                                {% for chapter_result in results %}
                                    <section class="govuk-!-margin-bottom-2">
                                        <div class="govuk-grid-row chapter-result govuk-!-padding-bottom-3 govuk-!-padding-top-3">
                                            <div class="govuk-grid-column-two-thirds govuk-!-width-three-quarters">

                                                <h1 class="govuk-heading-s">
                                                        <a href="{% url 'chapter-detail' country_code=country_code chapter_code=chapter_result.commodity_code nomenclature_sid=chapter_result.id %}"
                                                           class="govuk-link">{{ chapter_result.description | safe }}</a>
                                                </h1>
                                            </div>

                                            <div class="govuk-grid-column-one-quarter text-right">
                                                {% if chapter_result.commodity_code_html %}
                                                    {{ chapter_result.commodity_code_html | safe }}
                                                {% endif %}
                                            </div>
                                        </div>
                                        {% for heading_result in chapter_result.headings %}

                                            <div class="govuk-grid-row govuk-!-padding-top-2 govuk-!-padding-bottom-2 heading-result">
                                                <div class="govuk-grid-column-two-thirds govuk-!-width-three-quarters">

                                                    <div class="govuk-!-margin-left-4">
                                                            <a href="{% url 'heading-detail' country_code=country_code heading_code=heading_result.commodity_code nomenclature_sid=heading_result.id %}"
                                                               class="govuk-link chapter-link">{{ heading_result.description | safe }}</a>
                                                    </div>
                                                </div>

                                                <div class="govuk-grid-column-one-quarter text-right">
                                                    {% if heading_result.commodity_code_html %}
                                                        {{ heading_result.commodity_code_html | safe }}
                                                    {% endif %}
                                                </div>
                                            </div>

                                        {% endfor %}

                                    </section>
                                {% empty %}
                                    <h2 class="govuk-heading-l">There are no results for {{ query }}</h2>

                                    <div>
                                        <p class="govuk-heading-m">Search again and consider:</p>
                                        <ul class="govuk-hint">
                                            <li>searching what the item is used for or made from</li>
                                            <li>checking your spelling</li>
                                        </ul>
                                    </div>

                                    {% if form_q_error %}
                                        <span id="commodity-code-error" class="govuk-error-message">
                                    <span class="govuk-visually-hidden">Error:</span>
                                    {% for message in form_q_validation_message %}{{ message }}{% endfor %}
                                </span>
                                    {% endif %}
                                    <p>
                                        <input class="govuk-input govuk-input--width-30 {% if form_q_error %}govuk-input--error{% endif %}"
                                               id="search" name="q" type="text" {% if form_q_error %}
                                               aria-describedby="select-country-error"{% endif %}
                                               value="{% if form.q.value %}{{ form.q.value }}{% endif %}">
                                    </p>

                                    <button type="submit"
                                            class="govuk-button govuk-!-padding-left-8 govuk-!-padding-right-8">
                                        Search
                                    </button>

                                {% endfor %}


                            </div>
                        {% endif %}

                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <p> {{ error }} </p>
                                {% endfor %}
                            {% endfor %}
                        {% endif %}

                    </form>

                </div>
            </div>

        </main>
    </div>

{% endblock %}
