{% extends '../core/base.html' %}

{% block content %}
    <h2>Search</h2>




    <form action="{% url 'search:search-advanced' country_code=country_code %}" name="commodity_search" method="get">
{#    {% csrf_token %}#}
        {{ form.errors }}
        <div class="govuk-form-group{% if is_error %} govuk-form-group--error{% endif %}">
          <label class="govuk-hint" for="search">
          </label>
          {% if form.q.errors %}
            <span id="commodity-code-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> {%  for error in form.q.errors %}{{ error }}{% endfor %}
          </span>
          {% endif %}
{#            {{ form.q }}#}
          <input class="govuk-input govuk-input--width-10{% if form.q.errors %} govuk-input--error{% endif %}" id="search" name="q" type="text" {% if form.q.errors %} aria-describedby="select-country-error"{% endif %}>
        </div>
      <input type="hidden" name="country" value="{{ country_code }}" />
      <button type="submit" class="govuk-button govuk-!-padding-left-8 govuk-!-padding-right-8">Continue</button>
    </form>

        <b>Search Term: </b> {{ query }}
        <p>total results: {{ total }} </p>

        <table width="100%">

            <thead>
                <tr align="left">
                    <th>Rank</th>
                    <th>Description</th>
                    <th>Commodity Code</th>
                </tr>
            </thead>

            <tbody>

            {%  for result in results %}
                <tr>
                    <td>{{ result.ranking }}</td>
                    <td>{{ result.description | safe }}



                    </td>
                    <td>
                        {%  if result.commodity_code  %}
                            {{ result.commodity_code }}
                        {% elif result.heading_code %}
                            {{ result.heading_code }}
                        {% elif result.chapter_code %}
                            {{ result.chapter_code }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}

            </tbody>

        </table>


{% endblock %}