.app-header-link-alert {
    align-items: center;
    background: govuk-colour("red");
    border-radius: 16px;
    box-sizing: border-box;
    display: inline-flex;
    font-size: 60%;
    font-weight: bold;
    height: 16px;
    justify-content: center;
    line-height: 16px;
    min-width: 16px;
    padding: 4px;
    position: relative;
    text-decoration: none;
    top: -6px;
}
