{% extends 'core/base.html' %}

{% block title %}Feedback{% endblock %}
{% block feedback_banner %}{% endblock %}

{% block content %}

    {{ form.errors }}

    <form action="." method="post">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">Send feedback</h1>
            </legend>
            {% csrf_token %}
            <div class="govuk-form-group">
                <label class="govuk-label" for="name">Name</label>
                <input class="govuk-input govuk-!-width-one-half" id="name" name="name" type="text" spellcheck="false">
            </div>
            <div class="govuk-form-group">
                <label class="govuk-label" for="email">Email Address</label>
                <input class="govuk-input govuk-!-width-three-quarters" id="email" name="email" type="email" spellcheck="false">
            </div>
            <div class="govuk-form-group">
                <label class="govuk-label" for="name">Message</label>
                <textarea class="govuk-textarea" id="message" name="message" rows="20" cols="60"></textarea>
            </div>
        </fieldset>
        <button type="submit" class="govuk-button govuk-!-padding-left-8 govuk-!-padding-right-8">Send feedback</button>
    </form>

{% endblock %}