<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-trade-agreements">
    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-trade-agreements-heading-1">
                    UK-Australia INSERT NAME OF TRADE AGREEMENT HERE
                </span>
            </h2>
        </div>
        <div id="accordion-trade-agreements-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-trade-agreements-heading-1">
            <div class="govuk-!-margin-bottom-6">
                <p class="govuk-!-font-size-19 govuk-!-margin-0">
                    <!-- CHANGE LINK -->
                    <a class="govuk-link" href="https://www.gov.uk/guidance/summary-of-the-uk-japan-comprehensive-economic-partnership-agreement">Summary of the UK-Australia Comprehensive Economic Partnership Agreement</a>
                </p>
            </div>

            <div class="govuk-!-margin-bottom-6">
                <p class="govuk-!-font-size-19 govuk-!-margin-0">
                    <!-- CHANGE LINK -->
                    <a class="govuk-link" href="https://www.gov.uk/government/collections/uk-japan-comprehensive-economic-partnership-agreement">Full text of the UK-Australia Comprehensive Economic Partnership Agreement</a>
                </p>
            </div>

            <div class="govuk-!-margin-bottom-6">
                <p class="govuk-!-font-size-19 govuk-!-margin-0">
                    <!-- CHANGE LINK -->
                    <a class="govuk-link" href="https://www.mofa.go.jp/ecm/ie/page22e_000914.html">UK-Australia trade agreement website</a>
                </p>
            </div>
        </div>
    </div>
</div>
