{% extends 'core/base.html' %}

{% block title %}Select country{% endblock title %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <a href="{% url 'index' %}" class="govuk-back-link govuk-!-margin-bottom-7 govuk-!-margin-top-0">Back</a>
      <h2 class="govuk-heading-l">
        <span class="govuk-caption-l">Step 1 of 2</span>
        Where do the goods you're exporting come from?
      </h2>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-grid-column-one-half-from-desktop">
      <form action="{% url 'choose-country' %}" method="post">
        {% csrf_token %}
        <label class="govuk-hint" for="country-picker">Start typing the export country.</label>
        <select name="origin_country" id="country-picker">
          <option value="">Start typing the export country</option>
          {% for country_code, country_name in country_options %}
            {% if selected_country == country_code %}
                <option value="{{ country_code | lower }}" selected>{{ country_name }}</option>
            {% else %}
                <option value="{{ country_code | lower }}">{{ country_name }}</option>
            {% endif %}
          {% endfor %}
        </select>

          <button type="submit" class="govuk-button govuk-!-margin-top-6 govuk-!-padding-left-8 govuk-!-padding-right-8">Continue</button>
      </form>
    </div>
  </div>
{% endblock %}

{% block footer_additions %}
  <script src="/assets/js/location-autocomplete.min.js"></script>
  <script>
    openregisterLocationPicker({
      selectElement: document.getElementById('country-picker'),
      url: '/assets/js/location-autocomplete-graph.json'
    })
  </script>
{% endblock footer_additions %}