{% load static staticfiles i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Hierarchy</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://unpkg.com/vuex@3.0.1/dist/vuex.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style>
        body {
          font-family: Menlo, Consolas, monospace;
          color: #444;
        }
        .item {
          cursor: pointer;
        }
        .bold {
          font-weight: bold;
        }
        ul {
          padding-left: 1em;
          line-height: 1.5em;
          list-style-type: dot;
        }
    </style>
</head>

<body>
    {% verbatim %}
    <!-- item template -->
    <script type="text/x-template" id="item-template">
      <li>
        <div :class="{bold: isFolder}" @click="toggle" @dblclick="changeType">

            <span v-if="model.href">
                <span v-if="open">
                    <a :href="model.href"><b>{{ model.name }}</b></a>
                </span>
                <span v-else>
                    <a :href="model.href">{{ model.name }}</a>
                </span>
            </span>
            <span v-else>{{ model.name }}</span>

          <span v-if="isFolder">[{{ open ? '-' : '+' }}]</span>
        </div>
        <ul v-show="open" v-if="isFolder">
          <item class="item" v-for="(self_model, index) in model.children" :key="index" :model="self_model" :parent_node_id="model.node_id" :store="this.store"></item>
          <!--<li class="add" @click="addChild">+</li>-->
        </ul>
      </li>
    </script>

    <p>(You can double click on an item to turn it into a folder.)</p>

    <!-- the demo root element -->
    <div id="demo">
        <ul>
          <item class="item" :model="treeData"></item>
        </ul>
        <a href="#" @click.prevent="expandCommodity('0506100000')">expand commodity 0506100000</a>
        <a href="#" @click.prevent="collapseAll()">collapse all</a>
    </div>
    {% endverbatim %}
    <!-- put in 'demo' div: <commodity_summary :selectedCommodity="selectedCommodity"></commodity_summary> -->
    <script src="{% static 'js/hierarchy_app.js' %}"></script>
</body>
</html>